include ../../../../resources/pug/abstracts/mixins
div([formGroup]='group')
    .four.wide.fields
        +input('Label', 'label', 'Label')
        +input('Directions', 'directions', 'Directions')
        +input('Address 1', 'address1', 'Address 1')
        +input('Address 2', 'address2', 'Address 2')
    .fields
        +input('City', 'city', 'City', 'six wide')
        +input('State', 'state', 'State', 'five wide')
        +input('Location', 'location', 'Location', 'five wide')
    .four.wide.fields
        +input('District', 'district', 'District')
        .required.field
            label Country
            kira-country-select([group]='group')
            control-messages([control]="controls.country")
        +input('Zip Code', 'zip', 'Zip', '', 'number')
        //+input('End Date', 'endDate', '', '', 'date')
