.ui.raised.very.padded.container.segment
    h2.ui.icon.header
        i.users.icon
        .content
            | Transfers
            .sub.header You can manage patients Transfers from here.
    .ui.section.divider
    .ui.top.attached.transfers.menu
        a.item.active(data-tab='first') All transfers
        a.item(data-tab='second') In coming transfers
        a.item(data-tab='third') Out going transfers
    .ui.bottom.attached.tab.segment.active(data-tab='first')
        table.ui.very.basic.selectable.table(*ngIf='allTransfers')
            thead
                tr
                    th National patient Id
                    th Origin organization Id
                    th Receiving organization Id
                    th Arrival (date and time)
                    th Created (date and time)
            tbody
                tr(*ngFor='let transfer of allTransfers')
                    td {{ transfer.nationalPatientId }}
                    td {{ transfer.originOrganizationId }}
                    td {{ transfer.receivingOrganizationId }}
                    td {{ transfer.arrivalDateTime | date:'dd/MM/yyyy hh:mm:ss' }}
                    td {{ transfer.dateTimeCreated | date:'dd/MM/yyyy hh:mm:ss' }}
            tfoot
                tr
                    th(colspan='9')
                        .ui.right.floated.pagination.menu
                            a.icon.item
                                i.left.chevron.icon
                            a.item 1
                            a.item 2
                            a.item 3
                            a.item 4
                            a.icon.item
                                i.right.chevron.icon
    .ui.bottom.attached.tab.segment(data-tab='second')
        table.ui.very.basic.selectable.table(*ngIf='inTransfers')
            thead
                tr
                    th National patient Id
                    th Origin organization Id
                    th Arrival (date and time)
                    th Created (date and time)
            tbody
                tr(*ngFor='let transfer of inTransfers')
                    td {{ transfer.nationalPatientId }}
                    td {{ transfer.originOrganizationId }}
                    td {{ transfer.arrivalDateTime|date:'dd/MM/yyyy hh:mm:ss' }}
                    td {{ transfer.dateTimeCreated|date:'dd/MM/yyyy hh:mm:ss' }}
            tfoot
                tr
                    th(colspan='9')
                        .ui.right.floated.pagination.menu
                            a.icon.item
                                i.left.chevron.icon
                            a.item 1
                            a.item 2
                            a.item 3
                            a.item 4
                            a.icon.item
                                i.right.chevron.icon
    .ui.bottom.attached.tab.segment(data-tab='third')
        table.ui.very.basic.selectable.table(*ngIf='outTransfers')
            thead
                tr
                    th National patient Id
                    th Receiving organization Id
                    th Arrival (date and time)
                    th Created (date and time)
            tbody
                tr(*ngFor='let transfer of outTransfers')
                    td {{ transfer.nationalPatientId }}
                    td {{ transfer.receivingOrganizationId }}
                    td {{ transfer.arrivalDateTime|date:'dd/MM/yyyy hh:mm:ss' }}
                    td {{ transfer.dateTimeCreated|date:'dd/MM/yyyy hh:mm:ss' }}
            tfoot
                tr
                    th(colspan='9')
                        .ui.right.floated.pagination.menu
                            a.icon.item
                                i.left.chevron.icon
                            a.item 1
                            a.item 2
                            a.item 3
                            a.item 4
                            a.icon.item
                                i.right.chevron.icon
