.encounter {
    min-height: 280px;
    padding: .8em;
}

.templates {
    padding: .8em;
}

.encounter-next {
    margin-left: 36%;
}

.note {
    padding: .8em;
}

/*# sourceMappingURL=encounter.css.map */
