/*---------------------------------------|
/|                                       |
/|         KiraMed Core Theme            |
/|      Author: KiraMed Dev Team         |
/|           Version: 0.0.1              |
/|_______________________________________*/
/////////////////////////////////////////
//
/* VENDORS */
@import "../vendors/semantic-ui/semantic";
//
/* ABSTRACTS */
@import "abstracts/variables";
@import "abstracts/placeholders";
@import "abstracts/mixins";
@import "abstracts/functions";
@import "abstracts/hooks/js";
@import "abstracts/hooks/settings";
@import "abstracts/hooks/state";
@import "abstracts/helpers/h-text-sizes";
@import "abstracts/scoped/s-subtext-alignment";
//
/* BASE */
@import "base/base";
@import "base/typography";
//
/* COMPONENTS */
@import "components/c-buttons";
@import "components/c-carousel";
@import "components/c-cover";
@import "components/c-dropdown";
@import "components/c-links";
@import "components/c-lists";
@import "components/c-tables";
//
/* LAYOUTS */
@import "layout/l-footer";
@import "layout/l-forms";
@import "layout/l-grid";
@import "layout/l-header";
@import "layout/l-navigation";
@import "layout/l-sidebar";
//
/* THEMES */
@import "themes/t-light";
//

.fill-remaining-space {
  flex: 1 1 auto;
}

.center {
  display: flex;
  align-content: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.form-padding {
  padding: 12px;
}

.block-min-height {
  min-height: 20em;
}

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: initial !important;
  body {
    height: initial !important;
  }
}
