//Examples:
//
//  .c-button
//  $c-button-foreground-color

//.foo {
//  color: red;
//
//  /* Inclusive and exclusive operators for a finer control over the intervals */
//  @include media(">medium", "<=large") {
//    color: blue;
//  }
//}

// https://codepen.io/matejkaninsky/pen/jAJgQq

/**
* MODULES - BUTTONS
*/

/* Clear button styles
--------------------------------------------- */
::-ms-clear {
  display: none;
}

@include new(button, component) {
  @extend .ui.button !optional;
  display: inline-block !important;
  font-family: $body-font-family !important;
  font-size: 16px !important;
  padding: 0 30px !important;
  position: relative !important;
  line-height: 48px !important;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1) !important;

  @include border-radius($default-border-radius);
  @include transition3(
                  background-color, 0.3s, cubic-bezier(0.4, 0, 0.2, 1),
                  box-shadow, 0.3s, cubic-bezier(0.4, 0, 0.2, 1),
                  transform, 0.3s, cubic-bezier(0.4, 0, 0.2, 1)
  );

  /*
  * Button size types
  */

  &.x-small {
    font-size: .8em;
    padding: 8px 14px;
  }

  &.small {
    font-size: .9em;
    padding: 9px 15px;
  }

  &.medium {
    font-size: 1em;
    padding: 10px 16px;
  }

  &.large {
    font-size: 1.1em;
    padding: 11px 17px;
  }

  &.x-large {
    font-size: 1.2em;
    padding: 12px 18px;
  }

  /*
  * Button color types
  */

  &.default {
    color: $button-default-text-color !important;
    @include hover-bg ($button-default-bg-color);
  }

  &.white {
    color: $button-white-text-color !important;
    @include add-border(1px, $primary-color, all);
    @include hover-bg ($button-white-bg-color);
  }

  &.primary {
    color: $button-no-default-text-color !important;
    @include hover-bg ($button-primary-bg-color);
  }

  &.secondary {
    color: $button-white-text-color !important;
    @include hover-bg ($button-secondary-bg-color);
  }

  &.notice {
    color: $button-no-default-text-color !important;
    @include hover-bg ($button-notice-bg-color);
  }

  &.error {
    color: $button-no-default-text-color !important;
    @include hover-bg ($button-error-bg-color);
  }

  &.info {
    color: $button-no-default-text-color !important;
    @include hover-bg ($button-info-bg-color);
  }
}
