<div *ngIf="item">
    <md-card style="width: 30%">
        <md-card-header>
            <md-card-title>{{item.model}} details!</md-card-title>
        </md-card-header>
        <md-card-content>
            <div><label>id: </label>{{item.id}}</div>
            <div>
                <label>model: </label>
                <input [(ngModel)]="item.model" placeholder="model"/>
            </div>
            <div>
                <label>Manufacturer: </label>
                <input [(ngModel)]="item.manufacturer" placeholder="manufacturer"/>
            </div>
        </md-card-content>
        <md-card-actions>
            <button md-button (click)="goBack()"> Back</button>
            <button md-button (click)="updateItem()"> Update</button>
        </md-card-actions>
    </md-card>
</div>
