include ../../../resources/pug/abstracts/mixins
#clinical-main
    .ui.top.attached.menu(style='background-color: rgb(135, 201, 948); color: #fff;')
        a.item.amasidemenu(style='color: #fff !important;')
            i.sidebar.icon
            |       Menu
        a(routerLink='/login')
            img(style='max-height: 35px;margin: 8px;', src='../../assets/logo.png')
    .ui.bottom.attached.segment.pushable
        #clinical-sidebar.ui.labeled.icon.left.inline.inverted.vertical.sidebar.menu(style='background-color: rgb(135, 201, 948);')
            +kira_menu_item(['v.pat'], 'vitals', 'Patients', 'treatment')
            +kira_menu_item(['v.trans'], 'allergies', 'Transfers', 'folder open outline')
            +kira_menu_item(['v.appoint'], 'appointment', 'Appointments', 'life ring')
            +kira_menu_item(['v.visitq'], 'visitqueue', 'Patients Queue', 'list layout')
        .pusher
            router-outlet
