include ../../../../../../resources/pug/abstracts/mixins
.ui.raised.very.padded.container.segment(*ngIf="parent")
    // ITEMS-LIST-PAGE HEADER
    h2.ui.icon.header
        i.building.icon
        .content
            | {{ parent.type | capitalize }} Settings
            .sub.header Manage role settings here.
    .ui.section.divider
    // ERROR OR SUCCESS MESSAGE
    action-message([errorMsg]='errorMsg', [successMsg]='successMsg')
    // HIDE/SHOW NEW ITEM FROM
    div(*ngIf='creatingItem; then item_create_form else items_list')
    // ITEMS LIST SECTION
    ng-template(#items_list='')
        // CHECK IF THERE ARE ANY NO DELETED ITEMS
        div(*ngIf='pagedItems?.length == 0; then no_item else items')
        // IN CASE NOT DELETED ITEMS WERE FOUND DISPLAY ONE ITEMS-LIST PAGE
        ng-template(#items='')
            table.ui.grey.compact.celled.definition.table
                thead.full-width
                    tr
                        th Name
                        th Description
                tbody
                    tr(style='cursor: pointer', *ngFor='let item of pagedItems', (click)='showInfo(item, item.roleId)')
                        td {{ item.name }}
                        td {{ item.description }}
                tfoot.full-width
                    tr
                        th(colspan='6')
                            .ui.right.floated.small.primary.labeled.icon.button((click)='showForm()')
                                i.add.icon
                                |  Add a role
        // PAGINATION COMPONENT
        kira-pager(*ngIf!='allItems?.length>0', [allItems]='allItems', [pageSize]='pageSize', (pageChange)='onPageChange($event)')
        // IN CASE NO ITEM WAS FOUND DISPLAY NO ITEM FOUND MESSAGE
        ng-template(#no_item='')
            table.ui.grey.compact.celled.definition.table
                thead.full-width
                    tr
                        th
                            | There is no role yet.
                tfoot.full-width
                    tr
                        th(colspan='6')
                            .ui.right.floated.small.primary.labeled.icon.button((click)='showForm()')
                                i.add.icon
                                |  Create a role
    // NEW ITEM FORM
    ng-template(#item_create_form='')
        main.content
            .ui.container
                .ui.relaxed.divided.padded.full.grid
                    .row
                        .column
                            h3.ui.header.segment
                                .content
                                    | New role
                    .row
                        .sixteen.wide.column
                            form.ui.form([formGroup]='formGroup', (ngSubmit)='createRole(formGroup.value)', novalidate='')
                                .ui.segment
                                    +input('Name', 'name', 'Write the country Name...', 'required')
                                    +textarea('Description', 'description', 'required')
                                    .field
                                        label Select claims
                                        select.ui.fluid.search.dropdown(formControlName='claims', multiple='multiple')
                                            //option(value='') Type or select action(s)
                                            option(*ngFor='let action of actionsList', [ngValue]='action') {{action}}
                                button.ui.primary.submit.button(*ngIf='!isShowing', [disabled]='!formGroup.valid')
                                    | Create
                                spinner(name='mySpinner', [(show)]='isShowing')
                                    button.ui.primary.loading.button.disabled Create
                                .ui.reset.button((click)='formReset()') Reset
                                .ui.black.right.floated.button((click)='hideForm()') Back to role list
