include ../../../../../../resources/pug/abstracts/mixins
.ui.raised.very.padded.container.segment
    // ITEMS-LIST-PAGE HEADER
    h2.ui.icon.header
        i.building.icon
        .content
            | Country Settings
            .sub.header Manage country settings here.
    .ui.section.divider
    // ERROR OR SUCCESS MESSAGE
    action-message([errorMsg]='errorMsg', [successMsg]='successMsg')
    // HIDE/SHOW NEW ITEM FROM
    div(*ngIf='creatingItem; then item_create_form else items_list')
    // ITEMS LIST SECTION
    ng-template(#items_list='')
        // CHECK IF THERE ARE ANY NO DELETED ITEMS
        div(*ngIf='pagedItems?.length == 0; then no_item else items')
        // IN CASE NOT DELETED ITEMS WERE FOUND DISPLAY ONE ITEMS-LIST PAGE
        ng-template(#items='')
            table.ui.grey.compact.celled.definition.table
                thead.full-width
                    tr
                        th Name
                        th Code
                        th Abbreviation
                        th Official Lang
                        th Currency
                tbody
                    tr(style='cursor: pointer', *ngFor='let item of pagedItems', (click)='showInfo(item)')
                        td {{ item.name }}
                        td {{ item.code }}
                        td {{ item.abbreviation }}
                        td {{ item.officialLanguage }}
                        td {{ item.currency }}
                tfoot.full-width
                    tr
                        th(colspan='6')
                            .ui.right.floated.small.primary.labeled.icon.button((click)='showForm()')
                                i.add.icon
                                |  Add a country
        // PAGINATION COMPONENT
        kira-pager(*ngIf!='allItems?.length>0', [allItems]='allItems', [pageSize]='pageSize', (pageChange)='onPageChange($event)')
        // IN CASE NO ITEM WAS FOUND DISPLAY NO ITEM FOUND MESSAGE
        ng-template(#no_item='')
            table.ui.grey.compact.celled.definition.table
                thead.full-width
                    tr
                        th
                            | There is no country yet.
                tfoot.full-width
                    tr
                        th(colspan='6')
                            .ui.right.floated.small.primary.labeled.icon.button((click)='showCreateForm()')
                                i.add.icon
                                |  Create a country
    // NEW ITEM FORM
    ng-template(#item_create_form='')
        main.content
            .ui.container
                .ui.relaxed.divided.padded.full.grid
                    .row
                        .column
                            h3.ui.header.segment
                                .content
                                    | New country
                    .row
                        .sixteen.wide.column
                            form.ui.form([formGroup]='formGroup', (ngSubmit)='create(formGroup.value)', novalidate='')
                                .ui.segment
                                    +input('Name', 'name', 'Write the country Name...', 'required')
                                    +input('Abbreviation', 'abbreviation', 'Write the country Abbreviation...', 'required')
                                    +input('Code', 'code', 'Write the country Code...', 'required')
                                    +input('Official Language', 'officialLanguage', 'Write the country officialLanguage...')
                                    +input('Currency', 'currency', 'Write the country currency...')
                                .ui.segment
                                    +input('Admin FirstName', 'adminFirstName', 'Write the country Admin FirstName...', 'required')
                                    +input('Admin SecondName', 'adminSecondName', 'Write the country Admin SecondName...', 'required')
                                    +input('Admin NationalId', 'adminNationalId', 'Write the country Admin NationalId...', 'required')
                                    +input('Admin Email', 'adminEmail', 'Write the country Admin Email...', 'required')
                                    +input('Admin Phone Number', 'adminPhoneNumber', 'Write the country Admin Phone Number...', 'required')
                                button.ui.primary.submit.button(*ngIf='!isShowing', [disabled]='!formGroup.valid')
                                    | Create
                                spinner(name='mySpinner', [(show)]='isShowing')
                                    button.ui.primary.loading.button.disabled Loading...
                                .ui.reset.button((click)='formReset()') Reset
                                .ui.black.right.floated.button((click)='hideForm()') Back to country list
