// list of addresses
.ui.attached.segment
    form.ui.form([formGroup]='addressForm' novalidate='')
        ng-container(formArrayName='addresses')
            .ui.vertical.segment
                ng-container(*ngFor='let addressGroup of addressesArray.controls; let i=index')
                    .ui.grid
                        // MULTIPLE ADDRESSES TEMPORALLY DISABLED
                        //.left.floated.fifteen.wide.column
                        //  h4.ui.dividing.header Address {{i + 1}}
                        //.right.floated.one.wide.column(*ngIf!='addressesArray.controls.length > 1')
                        //  span.right.floated(style='cursor: pointer', (click)='removeAddress(i)')
                        //    i.close.icon.red
                        .left.floated.fifteen.wide.column
                            h4.ui.dividing.header Address
                    br
                    kira-address-fields([group]='addressGroup')
                //button.ui.right.labeled.icon.basic.button(type='button', (click)='addAddress()')
                //  i.plus.icon
                //  | Add an address
            br
            button.ui.default.left.labeled.icon.button((click)='goToPrevious()')
                i.left.arrow.icon
                | Previous
            button.ui.default.right.labeled.right.floated.icon.button([disabled]='!addressForm.valid', (click)='goToNext(addressForm)')
                i.right.arrow.icon
                | Next
