.ui.form(style='margin-top: 1%;', (click)='addItem()')
    .field
        select.ui.fluid.search.dropdown([(ngModel)]='itemName')
            option(value='') Search by the {{ displayName }} name here ...
            option(*ngFor='let content of contentList', value='{{ content.name }}')
                strong {{ content.code }}
                |  - {{ content.name }}
ng-container(*ngIf!='itemList.length > 0')
    table.ui.collapsing.table
        tbody
            tr(*ngFor='let item of itemList')
                td.collapsing
                    strong {{ item.code }}
                    |  - {{ item.name }}
                td.collapsing.right.aligned
                    button.circular.mini.ui.icon.basic.button((click)='deleteItem(item.name)')
                        i.remove.icon
