<div class="ui raised very padded container segment">

    <h2 class="ui icon header">
        <i class="users icon"></i>
        <div class="content">
            Visits
            <div class="sub header">You can manage patients Visits from here.</div>
        </div>
    </h2>

    <div class="ui section divider"></div>

    <div class="ui pointing secondary visits menu">
        <a class="active blue item" data-tab="wk">Workings</a>
        <a class="blue item" data-tab="vq">Visits queue</a>
        <a class="blue item" data-tab="ap">Appointments</a>
        <a class="blue item" data-tab="tr">Transfers</a>
    </div>

    <div class="ui active tab segment" data-tab="wk">

        <table *ngIf="visits" class="ui single line selectable table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Visit reason</th>
                <th>Medical record no.</th>
                <th>Truck net no.</th>
                <th>Visit date</th>
                <th>Insured</th>
                <th>Referred</th>
                <th>Follow up</th>
                <th>Is appointment</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let visit of visits">
                <td>{{ visit.firstName }} {{ visit.lastName }}</td>
                <td>{{ visit.visitReason }}</td>
                <td>{{ visit.medicalRecordNumber }}</td>
                <td>{{ visit.trackNetNumber }}</td>
                <td>{{ visit.visitDateTime | date }}</td>
                <td>{{ visit.isPatientEnsured==true?'Yes':'No' }}</td>
                <td>{{ visit.isReferral==true?'Yes':'No' }}</td>
                <td>{{ visit.isFollowUp==true?'Yes':'No' }}</td>
                <td>{{ visit.appointmentId==0?'No':'Yes' }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="9">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>

    </div>
    <div class="ui tab segment" data-tab="vq">
        <kira-vq></kira-vq>
    </div>
    <div class="ui tab segment" data-tab="ap">
        <kira-ap></kira-ap>
    </div>
    <div class="ui tab segment" data-tab="tr">
        <kira-tr></kira-tr>
    </div>

</div>
