#clinical-sidebar.ui.labeled.icon.left.inline.inverted.vertical.sidebar.menu(style='background-color: rgb(135, 201, 948);')
    a.item.amasidemenu([routerLink]="['list']", routerLinkActive='active')
        i.dashboard.icon
        |     All Visits
    a.item.amasidemenu([routerLink]="['queue']")
        i.id.ordered.list.icon
        |     Visit queue
    a.item.amasidemenu([routerLink]="['appointment']")
        i.id.call.square.icon
        |     Appointments
    a.item.amasidemenu([routerLink]="['transfer']")
        i.id.exchange.icon
        |     Transfers
.pusher
    router-outlet
