
<div class="sx">
  <div class="ui form templates">
    <h3 class="header"><i class="edit icon"></i>{{ textDisplay }}</h3>
    <kira-checklist-search [displayName]="textDisplay"></kira-checklist-search>
    <!--.ui.styled.accordion-->
    <!--  div(#parent='', *ngFor='let diag of diagnoses')-->
    <!--    .title-->
    <!--      i.dropdown.icon(*ngIf='diag.subDiagnoses.length > 0')-->
    <!--      div(*ngIf='diag.subDiagnoses.length == 0')-->
    <!--        .ui.toggle.checkbox.checked-->
    <!--          input([(ngModel)]='diag.checked', (change)='onChecked(diag.codeId)', type='checkbox', name='{{ diag.name }}')-->
    <!--          label {{ diag.name }}-->
    <!--      label(*ngIf='diag.subDiagnoses.length > 0') {{ diag.name }}-->
    <!--    .content(*ngIf='diag.subDiagnoses.length > 0')-->
    <!--      .accordion-->
    <!--        div(*ngFor='let sub1 of diag.subDiagnoses')-->
    <!--          .title-->
    <!--            i.dropdown.icon(*ngIf='sub1.subDiagnoses.length > 0')-->
    <!--            div(*ngIf='sub1.subDiagnoses.length == 0')-->
    <!--              .ui.toggle.checkbox-->
    <!--                input([(ngModel)]='sub1.checked', (change)='onChecked(sub1.codeId)', type='checkbox', name='{{ sub1.name }}')-->
    <!--                label {{ sub1.name }}-->
    <!--            label(*ngIf='sub1.subDiagnoses.length > 0') {{ sub1.name }}-->
    <!--          .content(*ngIf='sub1.subDiagnoses.length > 0')-->
    <!--            .accordion-->
    <!--              div(*ngFor='let sub2 of sub1.subDiagnoses')-->
    <!--                .title-->
    <!--                  .ui.toggle.checkbox-->
    <!--                    input([(ngModel)]='sub2.checked', (change)='onChecked(sub2.codeId)', type='checkbox', name='{{ sub2.name }}')-->
    <!--                    label {{ sub2.name }}-->
  </div><a class="ui left floated labeled icon button" routerLink="/new-encounter/tx"><i class="left chevron icon"></i>Previous</a><a class="ui primary right floated right labeled icon button encounter-next" routerLink="/new-encounter/rx">Next<i class="chevron right icon"></i></a>
</div>