.sx
    .ui.form.templates
        h3.header
            i.edit.icon
            | {{ textDisplay }}
        kira-checklist-search([displayName]='textDisplay')
        //.ui.styled.accordion
        //  div(*ngFor='let history of allHistory')
        //    .title
        //      i.dropdown.icon(*ngIf='history.subHistory.length > 0')
        //      div(*ngIf='history.subHistory.length == 0')
        //        .ui.toggle.checkbox
        //          input([(checked)]='history.checked', (change)='onChecked(history.codeId)', type='checkbox', name='{{ history.name }}')
        //          label {{ history.name }}
        //      label(*ngIf='history.subHistory.length > 0') {{ history.name }}
        //    .content(*ngIf='history.subHistory.length > 0')
        //      .accordion
        //        div(*ngFor='let sub1 of history.subHistory')
        //          .title
        //            i.dropdown.icon(*ngIf='sub1.subHistory.length > 0')
        //            div(*ngIf='sub1.subHistory.length == 0')
        //              .ui.toggle.checkbox
        //                input([(checked)]='sub1.checked', (change)='onChecked(sub1.codeId)', type='checkbox', name='{{ sub1.name }}')
        //                label {{ sub1.name }}
        //            label(*ngIf='sub1.subHistory.length > 0') {{ sub1.name }}
        //          .content(*ngIf='sub1.subHistory.length > 0')
        //            .accordion
        //              div(*ngFor='let sub2 of sub1.subHistory')
        //                .title
        //                  .ui.toggle.checkbox
        //                    input([(checked)]='sub2.checked', (change)='onChecked(sub2.codeId)', type='checkbox', name='{{ sub2.name }}')
        //                    label {{ sub2.name }}
    a.ui.left.floated.labeled.icon.button(routerLink='/new-encounter/sx')
        i.left.chevron.icon
        | Previous
    a.ui.primary.right.floated.right.labeled.icon.button.encounter-next(routerLink='/new-encounter/px')
        | Next
        i.chevron.right.icon
