
<div class="sx">
  <div class="ui form templates"><a class="ui primary right floated button encounter-next" routerLink="">Add prescription</a>
    <h3 class="header"><i class="edit icon"></i>{{ textDisplay }}</h3>
    <kira-checklist-search [displayName]="textDisplay"></kira-checklist-search>
    <!--.ui.styled.accordion-->
    <!--  div(#parent='', *ngFor='let therapy of therapies')-->
    <!--    .title-->
    <!--      i.dropdown.icon(*ngIf='therapy.subTherapies.length > 0')-->
    <!--      div(*ngIf='therapy.subTherapies.length == 0')-->
    <!--        .ui.toggle.checkbox.checked-->
    <!--          input([(ngModel)]='therapy.checked', (change)='onChecked(therapy.codeId)', type='checkbox', name='{{ therapy.name }}')-->
    <!--          label {{ therapy.name }}-->
    <!--      label(*ngIf='therapy.subTherapies.length > 0') {{ therapy.name }}-->
    <!--    .content(*ngIf='therapy.subTherapies.length > 0')-->
    <!--      .accordion-->
    <!--        div(*ngFor='let sub1 of therapy.subTherapies')-->
    <!--          .title-->
    <!--            i.dropdown.icon(*ngIf='sub1.subTherapies.length > 0')-->
    <!--            div(*ngIf='sub1.subTherapies.length == 0')-->
    <!--              .ui.toggle.checkbox-->
    <!--                input([(ngModel)]='sub1.checked', (change)='onChecked(sub1.codeId)', type='checkbox', name='{{ sub1.name }}')-->
    <!--                label {{ sub1.name }}-->
    <!--            label(*ngIf='sub1.subTherapies.length > 0') {{ sub1.name }}-->
    <!--          .content(*ngIf='sub1.subTherapies.length > 0')-->
    <!--            .accordion-->
    <!--              div(*ngFor='let sub2 of sub1.subTherapies')-->
    <!--                .title-->
    <!--                  .ui.toggle.checkbox-->
    <!--                    input([(ngModel)]='sub2.checked', (change)='onChecked(sub2.codeId)', type='checkbox', name='{{ sub2.name }}')-->
    <!--                    label {{ sub2.name }}-->
  </div><a class="ui left floated labeled icon button" routerLink="/new-encounter/dx"><i class="left chevron icon"></i>Previous</a><a class="ui primary right floated right labeled icon button encounter-next" routerLink="/new-encounter/note">Next<i class="chevron right icon"></i></a>
</div>