
<div class="sx">
  <div class="ui form templates">
    <h3 class="header"><i class="edit icon"></i>{{ textDisplay }}</h3>
    <kira-checklist-search [displayName]="textDisplay"></kira-checklist-search>
    <!--.ui.styled.accordion-->
    <!--  div(*ngFor='let symptom of symptoms')-->
    <!--    .title-->
    <!--      i.dropdown.icon(*ngIf='symptom.subSymptoms.length > 0')-->
    <!--      div(*ngIf='symptom.subSymptoms.length == 0')-->
    <!--        .ui.toggle.checkbox.checked-->
    <!--          input([(ngModel)]='symptom.checked', (change)='onChecked(symptom.codeId)', type='checkbox', name='{{ symptom.name }}')-->
    <!--          label {{ symptom.name }}-->
    <!--      label(*ngIf='symptom.subSymptoms.length > 0') {{ symptom.name }}-->
    <!--    .content(*ngIf='symptom.subSymptoms.length > 0')-->
    <!--      .accordion-->
    <!--        div(*ngFor='let sub1 of symptom.subSymptoms')-->
    <!--          .title-->
    <!--            i.dropdown.icon(*ngIf='sub1.subSymptoms.length > 0')-->
    <!--            div(*ngIf='sub1.subSymptoms.length == 0')-->
    <!--              .ui.toggle.checkbox-->
    <!--                input([(ngModel)]='sub1.checked', (change)='onChecked(sub1.codeId)', type='checkbox', name='{{ sub1.name }}')-->
    <!--                label {{ sub1.name }}-->
    <!--            label(*ngIf='sub1.subSymptoms.length > 0') {{ sub1.name }}-->
    <!--          .content(*ngIf='sub1.subSymptoms.length > 0')-->
    <!--            .accordion-->
    <!--              div(*ngFor='let sub2 of sub1.subSymptoms')-->
    <!--                .title-->
    <!--                  .ui.toggle.checkbox-->
    <!--                    input([(ngModel)]='sub2.checked', (change)='onChecked(sub2.codeId)', type='checkbox', name='{{ sub2.name }}')-->
    <!--                    label {{ sub2.name }}-->
  </div><a class="ui left floated labeled icon button" routerLink="/new-encounter/vx"><i class="left chevron icon"></i>Previous</a><a class="ui primary right floated right labeled icon button encounter-next" routerLink="/new-encounter/hx">Next<i class="chevron right icon"></i></a>
</div>