.sx
    .ui.form.templates
        h3.header
            i.edit.icon
            | {{ textDisplay }}
        kira-checklist-search([displayName]='textDisplay')
        //.ui.styled.accordion
        //  div(#parent='', *ngFor='let test of tests')
        //    .title
        //      i.dropdown.icon(*ngIf='test.subTests.length > 0')
        //      div(*ngIf='test.subTests.length == 0')
        //        .ui.toggle.checkbox.checked
        //          input([(ngModel)]='test.checked', (change)='onChecked(test.codeId)', type='checkbox', name='{{ test.name }}')
        //          label {{ test.name }}
        //      label(*ngIf='test.subTests.length > 0') {{ test.name }}
        //    .content(*ngIf='test.subTests.length > 0')
        //      .accordion
        //        div(*ngFor='let sub1 of test.subTests')
        //          .title
        //            i.dropdown.icon(*ngIf='sub1.subTests.length > 0')
        //            div(*ngIf='sub1.subTests.length == 0')
        //              .ui.toggle.checkbox
        //                input([(ngModel)]='sub1.checked', (change)='onChecked(sub1.codeId)', type='checkbox', name='{{ sub1.name }}')
        //                label {{ sub1.name }}
        //            label(*ngIf='sub1.subTests.length > 0') {{ sub1.name }}
        //          .content(*ngIf='sub1.subTests.length > 0')
        //            .accordion
        //              div(*ngFor='let sub2 of sub1.subTests')
        //                .title
        //                  .ui.toggle.checkbox
        //                    input([(ngModel)]='sub2.checked', (change)='onChecked(sub2.codeId)', type='checkbox', name='{{ sub2.name }}')
        //                    label {{ sub2.name }}
    a.ui.left.floated.labeled.icon.button(routerLink='/new-encounter/px')
        i.left.chevron.icon
        | Previous
    a.ui.primary.right.floated.right.labeled.icon.button.encounter-next(routerLink='/new-encounter/dx')
        | Next
        i.chevron.right.icon
