.sx
    clinical-vitals([textDisplay]='textDisplay')
    a.ui.primary.right.floated.right.labeled.icon.button.encounter-next(routerLink='/new-encounter/sx')
        | Next
        i.chevron.right.icon
