include ../../../../../../resources/pug/abstracts/mixins
.ui.raised.very.padded.container.segment
    // ITEMS-LIST-PAGE HEADER
    h2.ui.icon.header
        i.building.icon
        .content
            | Organization Settings
            .sub.header
                | Manage your organization settings here.
    .ui.section.divider
    // ERROR OR SUCCESS MESSAGE
    action-message([errorMsg]='errorMsg', [successMsg]='successMsg')
    // HIDE/SHOW NEW ITEM FROM
    div(*ngIf='creatingItem; then item_create_form else items_list')
    // ITEMS LIST SECTION
    ng-template(#items_list='')
        // CHECK IF THERE ARE ANY NO DELETED ITEMS
        div(*ngIf='pagedItems?.length == 0; then no_item else items')
        // IN CASE NOT DELETED ITEMS WERE FOUND DISPLAY ONE ITEMS-LIST PAGE
        ng-template(#items='')
            table.ui.grey.compact.celled.definition.table
                thead.full-width
                    tr
                        th Name
                        th Short Name
                        th National Id
                tbody
                    tr(style='cursor: pointer;', *ngFor='let item of pagedItems', (click)='showInfo(item)')
                        td {{ item.name }}
                        td {{ item.shortName }}
                        td {{ item.nationalId }}
                tfoot.full-width
                    tr
                        th(colspan='6')
                            .ui.right.floated.small.primary.labeled.icon.button((click)='showForm()')
                                i.add.icon
                                |  Add an organization
        // PAGINATION COMPONENT
        kira-pager(*ngIf='allItems?.length>0', [allItems]='allItems', [pageSize]='pageSize', (pageChange)='onPageChange($event)')
        // IN CASE NO ITEM WAS FOUND DISPLAY NO ITEM FOUND MESSAGE
        ng-template(#no_item='')
            table.ui.grey.compact.celled.definition.table
                thead.full-width
                    tr
                        th There is no organization yet.
                tfoot.full-width
                    tr
                        th(colspan='6')
                            .ui.right.floated.small.primary.labeled.icon.button((click)='showCreateForm()')
                                i.add.icon
                                |  Create an organization
    // NEW ITEM FORM
    ng-template(#item_create_form='')
        main.content
            .ui.container
                .ui.relaxed.divided.padded.full.grid
                    .row
                        .column
                            h3.ui.header.segment
                                .content New organization
                    .row
                        .sixteen.wide.column
                            form.ui.form([formGroup]='formGroup', (ngSubmit)='create(formGroup.value)', novalidate='')
                                .ui.segment
                                    +input('Name', 'firstName', 'Name...', 'required')
                                    +input('Short name', 'secondName', 'Short name...', 'required')
                                    +input('TIN Number', 'nationalId', 'TIN Number...', 'required')
                                    +input('Email', 'email', 'Email...', 'required')
                                    +input('Phone number', 'phoneNumber', 'Phone number...', 'required')
                                button.ui.primary.submit.button(*ngIf='!isShowing', [disabled]='!formGroup.valid')
                                    | Create
                                spinner(name='mySpinner', [(show)]='isShowing')
                                    button.ui.primary.loading.button.disabled Loading...
                                .ui.reset.button((click)='formReset()') Reset
                                .ui.black.right.floated.button((click)='hideForm()') Back to country list
