// pager
.ui.right.floated.pagination.menu(*ngIf!='pager.pages && pager.pages.length')
    a.icon.item([ngClass]='{disabled:pager.currentPage === 1}', (click)='setPage(1)')
        i.angle.double.left.icon
    .disabled.item(*ngIf!='pager.startPage > 1') ...
    a.icon.item([ngClass]='{disabled:pager.currentPage === 1}', (click)='setPage(pager.currentPage - 1)')
        i.angle.left.icon
    a.item(*ngFor='let page of pager.pages', [ngClass]='{active:pager.currentPage === page}', (click)='setPage(page)') {{page}}
    a.icon.item([ngClass]='{disabled:pager.currentPage === pager.totalPages}', (click)='setPage(pager.currentPage + 1)')
        i.angle.right.icon
    .disabled.item(*ngIf!='pager.endPage < pager.totalPages') ...
    a.icon.item([ngClass]='{disabled:pager.currentPage === pager.totalPages}', (click)='setPage(pager.totalPages)')
        i.angle.double.right.icon
