div([formGroup]='group')
    select.ui.search.dropdown(formControlName='country')
        option(value='') Select Country
        option(*ngFor='let _country of countries', [ngValue]='_country.value')
            i(class='{{ _country.flag }}')
            | {{ _country.name }}
