//- Semantic-UI input field
mixin input(label, name, placeholder, classes, type)
    - type = type || 'text'
    - classes = classes || ''
    .field(class=classes)
        label #{label}
        input(type=type, name=name, placeholder=placeholder, formControlName=name)
        control-messages([control]='controls.' + name)

//- Semantic-UI textarea field
mixin textarea(label, name, classes)
    - classes = classes || ''
    .field(class=classes)
        label #{label}
        textarea(rows='2', name=name, formControlName=name)
        control-messages([control]='controls.' + name)

//- Semantic-UI checkbox field
mixin checkbox(label, name, classes)
    - classes = classes || ''
    .field(class=classes)
        .ui.toggle.checkbox
            input.hidden(type='checkbox', name=name, tabindex='0', formControlName=name)
            label #{label}

//- Semantic-UI select box
mixin select(label, name, placeholder, options, classes, multiple)
    - classes = classes || ''
    - is_object = is_object || false
    .field(class=classes)
        label #{label}
        select.ui.fluid.search.dropdown(name=name, formControlName=name, multiple=multiple ? '' : false)
            option(value='') #{placeholder}
            each val, index in options
                option(value=val.value || index) #{val.name || val}

//- Menu item
mixin kira_menu_item(allowed_claims, router_link,  label, icon_class)
    -icon_class = icon_class + ' icon'
    -router_link = '/' + router_link
    kira-menu-item(*allowedClaims!=allowed_claims, [router_link]!=[router_link], [item_label]!=[label],  [icon_class]!=[icon_class])

//-Calendar field
mixin calendar(placeholder, name)
    .field
        label #{placeholder}
        kira-sui-calendar(formControlName=name, [placeholder]!=[placeholder])
