include ../../../../../../resources/pug/abstracts/mixins
// Result before being submitted
.ui.attached.segment
    .ui.vertical.segment
        .ui.bulleted.list
            //.item
            //  div Personal Info
            //  .list
            //    .item
            //      div Basic Identification
            //        .list
            //          .item
            //            strong First name:
            //            |  {{formData.firstName}}
            //          .item
            //            strong Middle name:
            //            |  {{formData.middleName}}
            //          .item
            //            strong Second name:
            //            |  {{formData.secondName}}
            //          .item
            //            strong National id:
            //            |  {{formData.nationalId}}
            //          .item
            //            strong Email:
            //            |  {{formData.email}}
            //          .item
            //            strong Phone number:
            //            |  {{formData.phoneNumber}}
            //    .item
            //      div Clinical Records
            //        .list
            //          .item
            //            strong Death date:
            //            |  {{formData.deathDate}}
            //          .item
            //            strong Allergy note:
            //            |  {{formData.allergyNote}}
            //          .item
            //            strong Non clinical:
            //            |  {{formData.nonClinicalNote}}
            //          .item
            //            strong Accepted HIE:
            //            |  {{formData.acceptedHIE?'yes':'no'}}
            //          .item
            //            strong No known allergy:
            //            |  {{formData.noKnownAllergy?'yes':'no'}}
            //          .item
            //            strong No known medication:
            //            |  {{formData.noKnownMed?'yes':'no'}}
            //.item
            //  div Demographic Info
            //    .list
            //      .item
            //        strong Date of birth:
            //        |  {{formData.demographic.dob}}
            //      .item
            //        strong Sex:
            //        |  {{formData.demographic.sex}}
            //      .item
            //        strong Martal status:
            //        |  {{formData.demographic.martalStatus}}
            //      .item
            //        strong Primary language:
            //        |  {{formData.demographic.primaryLanguage}}
            //      .item
            //        strong Secondary language:
            //        |  {{formData.demographic.secondaryLanguage}}
            //      .item
            //        strong Education:
            //        |  {{formData.demographic.education}}
            //      .item
            //        strong Income:
            //        |  {{formData.demographic.income}}
            //      .item
            //        strong Religion:
            //        |  {{formData.demographic.religion}}
            //.item
            //  div Contacts Information
            //  .list
            //    .item
            //      div Contact 1
            //        .list
            //          .item
            //            strong Value:
            //            |  the value
            //          .item
            //            strong Label:
            //            |  the value
            //          .item
            //            strong End date:
            //            |  the value
            //    .item
            //      div Contact 2
            //        .list
            //          .item
            //            strong Value:
            //            |  the value
            //          .item
            //            strong Label:
            //            |  the value
            //          .item
            //            strong End date:
            //            |  the value
            //.item
            //  div Addresses Information
            //  .list
            //    .item
            //      div Address 1
            //        .list
            //          .item
            //            strong Label:
            //            |  the value
            //          .item
            //            strong Directions:
            //            |  the value
            //          .item
            //            strong Address 1:
            //            |  the value
            //          .item
            //            strong Address 2:
            //            |  the value
            //          .item
            //            strong City:
            //            |  the value
            //          .item
            //            strong State:
            //            |  the value
            //          .item
            //            strong Location:
            //            |  the value
            //          .item
            //            strong District:
            //            |  the value
            //          .item
            //            strong Country:
            //            |  the value
            //          .item
            //            strong Zip code:
            //            |  the value
            //          .item
            //            strong End date:
            //            |  the value
            //    .item
            //      div Address 2
            //        .list
            //          .item
            //            strong Label:
            //            |  the value
            //          .item
            //            strong Directions:
            //            |  the value
            //          .item
            //            strong Address 1:
            //            |  the value
            //          .item
            //            strong Address 2:
            //            |  the value
            //          .item
            //            strong City:
            //            |  the value
            //          .item
            //            strong State:
            //            |  the value
            //          .item
            //            strong Location:
            //            |  the value
            //          .item
            //            strong District:
            //            |  the value
            //          .item
            //            strong Country:
            //            |  the value
            //          .item
            //            strong Zip code:
            //            |  the value
            //          .item
            //            strong End date:
            //            |  the value
    br
    button.ui.default.right.labeled.icon.button(*ngIf='!isShowing', [disabled]='!isFormValid', (click)='submit()')
        i.checkmark.icon
        | Submit
    spinner(name='mySpinner', [(show)]='isShowing')
        button.ui.primary.loading.button.disabled Loading...
