.ui.raised.very.padded.container.segment
    h2.ui.icon.header
        i.users.icon
        .content
            | Visit queues
            .sub.header You can manage patients Visits queues from here.
    .ui.section.divider
    table.ui.single.line.selectable.table(*ngIf='visitQueues')
        thead
            tr
                th Order No.
                th Arrival time
                th Names
                th Patient ID
                th Relationship
        tbody
            tr(*ngFor='let queue of visitQueues')
                td {{ queue.queueOrderNumber }}
                td {{ queue.arrivalDateTime | date:'dd/MM/yyyy hh:mm:ss' }}
                td {{ queue.firstName }} {{ queue.lastName }}
                td {{ queue.parentId }}
                td {{ queue.relationship }}
        tfoot
            tr
                th(colspan='9')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.item 2
                        a.item 3
                        a.item 4
                        a.icon.item
                            i.right.chevron.icon
