//#clinical-sidebar.ui.labeled.icon.left.inline.inverted.vertical.sidebar.menu(style='background-color: rgb(135, 201, 948);')
//    +kira_menu_item(null, 'home', 'Dashboard', 'dashboard')
//    +kira_menu_item(null, 'roles', 'Country Roles', 'id building')
//    +kira_menu_item(null, 'organizations', 'Organizations', 'id badge')
//.pusher
router-outlet
