.ui.raised.very.padded.container.segment
    h2.ui.icon.header
        i.users.icon
        .content
            | Appointments
            .sub.header You can manage patients Appointments from here.
    .ui.section.divider
    table.ui.single.line.selectable.table(*ngIf='appointments')
        thead
            tr
                th Appointment date
                th Name
                th Email
                th Phone No.
                th National ID
                th Initial Payment
                th Visit reason
                th Relationship
        tbody
            tr(*ngFor='let appoint of appointments')
                td {{ appoint.appointmentDate | date }}
                td {{ appoint.firstName }} {{ appoint.lastName }}
                td {{ appoint.email }}
                td {{ appoint.phoneNumber }}
                td {{ appoint.nationalId }}
                td {{ appoint.requireInitialPayment==true?'Yes':'No' }}
                td(*ngIf='appoint.visitReasons; else no_reason')
                    span(*ngFor='let reason of appoint.visitReasons') {{ reason }}
                ng-template(#no_reason='')
                    td Not specified
                td {{ appoint.relationship }}
        tfoot
            tr
                th(colspan='9')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.item 2
                        a.item 3
                        a.item 4
                        a.icon.item
                            i.right.chevron.icon
