
<div class="ui raised very padded container segment">
  <h2 class="ui icon header"><i class="users icon"></i>
    <div class="content">Appointments
      <div class="sub header">You can manage patients Appointments from here.</div>
    </div>
  </h2>
  <div class="ui section divider"></div>
  <table class="ui single line selectable table" *ngIf="appointments">
    <thead>
      <tr>
        <th>Appointment date</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone No.</th>
        <th>National ID</th>
        <th>Initial Payment</th>
        <th>Visit reason</th>
        <th>Relationship</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appoint of appointments">
        <td>{{ appoint.appointmentDate | date }}</td>
        <td>{{ appoint.firstName }} {{ appoint.lastName }}</td>
        <td>{{ appoint.email }}</td>
        <td>{{ appoint.phoneNumber }}</td>
        <td>{{ appoint.nationalId }}</td>
        <td>{{ appoint.requireInitialPayment==true?'Yes':'No' }}</td>
        <td *ngIf="appoint.visitReasons; else no_reason"><span *ngFor="let reason of appoint.visitReasons">{{ reason }}</span></td>
        <ng-template #no_reason="">
          <td>Not specified</td>
        </ng-template>
        <td>{{ appoint.relationship }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="9">
          <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="item">2</a><a class="item">3</a><a class="item">4</a><a class="icon item"><i class="right chevron icon"></i></a></div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>