//#clinical-sidebar.ui.labeled.icon.left.inline.inverted.vertical.sidebar.menu(style='background-color: rgb(135, 201, 948);')
//    +kira_menu_item(null, 'dashboard', 'Dashboard', 'dashboard')
//    +kira_menu_item(null, 'id building', 'Children Org.', 'id building')
//    +kira_menu_item(null, 'organizations', 'Org. Roles', 'id badge')
//    +kira_menu_item(null, 'organizations', 'Org. Employees', 'id badge')
//.pusher
router-outlet
