include ../../../resources/pug/abstracts/mixins
#clinical-main
    .ui.top.attached.menu(style='background-color: rgb(135, 201, 948); color: #fff;')
        a.item.amasidemenu(style='color: #fff !important;')
            i.sidebar.icon
            |       Menu
        a(routerLink='/login')
            img(style='max-height: 35px;margin: 8px;', src='../../assets/logo.png')
        // <a class="ui right floated item" style="color: #fff !important;">Messages</a>
        //
          <a data-notifications="5" class="circular ui button right floated item" style="position: absolute; margin-left: 90% !important;">
          <i class="comment outline icon"></i>
          </a>
    .ui.bottom.attached.segment.pushable
        #clinical-sidebar.ui.labeled.icon.left.inline.inverted.vertical.sidebar.menu(style='background-color: rgb(135, 201, 948);')
            // Links for system admin
            +kira_menu_item(['default'], 'system/home', 'System Home', 'dashboard')
            +kira_menu_item(['default'], 'role/list/system', 'System Roles', 'id building')
            +kira_menu_item(['default'], 'country/list', 'Countries', 'id badge')
            // Links for country admin
            +kira_menu_item(['default'], 'country/home/1', 'Country Home', 'dashboard')
            +kira_menu_item(['default'], 'role/list/country/1', 'Country Roles', 'id building')
            +kira_menu_item(['default'], 'organization/list/country/1', 'Organizations', 'id badge')
            // Links for organization admin
            +kira_menu_item(['default'], 'organization/home/1', 'Org Home', 'dashboard')
            +kira_menu_item(['default'], 'organization/list/parent-organization/1', 'Children Org.', 'id building')
            +kira_menu_item(['default'], 'role/list/organization/1', 'Org. Roles', 'id badge')
            +kira_menu_item(['default'], 'user/list/organization/1', 'Org. Employees', 'id badge')
        .pusher
            router-outlet
