/* make sure the element has position: relative */
[data-notifications] {
    position: relative;
}

[data-notifications]:after {
    /* append the notification badge after it */
    /* the burger */
    content: attr(data-notifications);
    /* the fries */
    position: absolute;
    background: red;
    border-radius: 50%;
    display: inline-block;
    padding: 0.5em;
    color: #f2f2f2;
    right: 0px;
    top: 0px;
}

.daContent {
    padding: .8em;
}

/*# sourceMappingURL=admin.css.map */
