include ../../../../resources/pug/abstracts/mixins
div([formGroup]='group')
    .fields
        .field.eight.wide
            label Label
            select.ui.fluid.search.dropdown((change)='onSelect($event.target.value)', formControlName='label')
                option(*ngFor='let type of types', [value]='type.value') {{type.name}}
        .field.eight.wide
            label Value
            .ui.input([ngClass]="{'disabled': disabled}")
                input(type='text', name='value', placeholder='{{placeholder}}', formControlName='value')
            control-messages([control]='controls.value')
        //+input('End Date', 'endDate', '', 'six wide', 'date')
