// list of contacts
.ui.attached.segment
    form.ui.form([formGroup]='contactForm' novalidate='')
        ng-container(formArrayName='contacts')
            .ui.vertical.segment
                ng-container(*ngFor='let contactGroup of contactsArray.controls; let i=index')
                    .ui.grid
                        // MULTIPLE CONTACTS TEMPORALLY DISABLED
                        //h4.ui.dividing.header Contact {{i + 1}}
                        //.right.floated.one.wide.column(*ngIf!='contactsArray.controls.length > 1')
                        //  span.right.floated(style='cursor: pointer', (click)='removeContact(i)')
                        //    i.close.icon.red
                        .left.floated.fifteen.wide.column
                            h4.ui.dividing.header Contact
                    br
                    kira-contact-fields([group]='contactGroup')
                //button.ui.right.labeled.icon.basic.button(type='button', (click)='addContact()')
                //  i.plus.icon
                //  | Add a contact
            br
            button.ui.default.left.labeled.icon.button((click)='goToPrevious()')
                i.left.arrow.icon
                | Previous
            button.ui.default.right.labeled.right.floated.icon.button([disabled]='!contactForm.valid', (click)='goToNext(contactForm)')
                i.right.arrow.icon
                | Next
