include ../../../../resources/pug/abstracts/mixins
.ui.stackable.two.column.grid
    .column.login-bg
        | KiraMed, Better Living.
    .column
        // ERROR MESSAGE
        .ui.floating.negative.message(*ngIf='failorMessage')
            .header
                | Login Error
            p {{ failorMessage }}
        .content.block-min-height
            form.ui.form.form-padding([formGroup]='formGroup', (ngSubmit)='onLogin(formGroup.value)', novalidate='')
                +input('Username', 'userName', 'Username')
                +input('Password', 'password', 'Password', '', 'password')
                button.ui.primary.submit.button(*ngIf='!isShowing', [disabled]='!formGroup.valid') Login
                spinner(name='mySpinner', [(show)]='isShowing')
                    button.ui.primary.loading.disabled.button Login
