include ../../../../../../resources/pug/abstracts/mixins
-var gender_options={'mm':'Male', 'ff':'Female'}
-var martalStatus_options={'ss':'Single', 'mm':'Married'}
-var primaryLanguage_options={'rw':'Kinyarwanda', 'en':'English', 'fr':'French', 'sw':'Swahilii', 'ug':'Ugandan', 'li':'Lingala'}
-var secondaryLanguage_options={'rw':'Kinyarwanda', 'en':'English', 'fr':'French', 'sw':'Swahilii', 'ug':'Ugandan', 'li':'Lingala'}
-var education_options={'no':'No school', 'p6':'Primary', 's3':'O-level', 's6':'Secondary', 'bc':'Bachelor', 'ot':'Other'}
-var religion_options={'xr':'Christian', 'is':'Islamic', 'tr':'Traditional', 'ot':'Other'}

//  Demographic form
.ui.attached.segment
    form.ui.form([formGroup]='demographicForm' novalidate='')
        .ui.vertical.segment
            h4.ui.dividing.header Demographic
            .fields
                +input('Date of Birth', 'dOB', '', 'six wide required', 'date')
                +select('Gender', 'sex', 'Gender', gender_options, 'five wide required')
                +select('Martal Status', 'martalStatus', 'Martal status', martalStatus_options, 'five wide')
            .fields
                +select('Primary Language', 'primaryLanguage', 'Primary Language', primaryLanguage_options, 'eight wide')
                +select('Secondary Language', 'secondaryLanguage', 'Secondary Language', secondaryLanguage_options, 'eight wide')
            .fields
                +select('Education Level', 'education', 'Education', education_options, 'six wide')
                +input('Income', 'income', 'Income', 'five wide')
                +select('Religion', 'religion', 'Religion', religion_options, 'five wide')
        br
        button.ui.default.left.labeled.icon.button((click)='goToPrevious()')
            i.left.arrow.icon
            | Previous
        button.ui.default.right.labeled.right.floated.icon.button([disabled]='!demographicForm.valid', (click)='goToNext(demographicForm)')
            i.right.arrow.icon
            | Next
