.ui.raised.very.padded.container.segment
    .ui.form(style='margin: 20%; text-align: center;')
        .field
            .ui.search
                .ui.icon.input
                    input.prompt(type='text', name='search-patient', placeholder='search patient by name eg. Yohana')
                    i.search.icon
        p OR
        input.ui.primary.button(routerLink='/patient-create', type='button', value='Create New Patient')
