.ui.message(class="{{ errorMsg ? 'negative': 'success' }}", *ngIf='errorMsg || successMsg')
    .header
        | {{ errorMsg ? 'Something went wrong' : 'Done' }}
    ul.list
        li {{ errorMsg ? errorMsg : successMsg }}
