.ui.raised.very.padded.container.segment
    h2.ui.icon.header
        i.dashboard.icon
        .content
            | Dashboard
            .sub.header Welcome to the system dashboard.
    .ui.section.divider
    .ui.message
        p
            | From the system dashboard, a Super-admin can create system (global) roles. Which can be available to any
            | created Country/Organization, and he/she can create countries and country admins.
            br
            | You can achieve
            |       this from the left side menu.