.ui.tablet.or.lower.hidden.amasteps
    .ui.tiny.fluid.tablet.stackable.steps
        a.step(*ngFor='let step of nav.steps; let i=index', routerLink='{{step.url}}', [ngClass]!="{'disabled': i > validStep && chackable}", routerLinkActive='active')
            i.icon(class='{{step.icon}}')
            .content
                .title {{step.title}}
                .description {{step.descr}}
        a.step(routerLink='{{nav.review.url}}', [ngClass]!="{'disabled': validStep != nav.steps.length && chackable}", routerLinkActive='active')
            i.info.icon
            .content
                .title {{nav.review.title}}
.ui.tablet.mobile.only.dasubmenu
    div
        .ui.right.visible.menu
            a.item(routerLink='{{nav.review.url}}', [ngClass]!="{'disabled': validStep != nav.steps.length && chackable}", routerLinkActive='active')
                i.icon(class='{{nav.review.icon}}')
                | {{nav.review.title}}
            .ui.dropdown.item.float.right
                i.icon.text(class='{{nav.head.icon}}')
                | {{nav.head.title}}
                .menu
                    a.item.amasubsidemenu(*ngFor='let step of nav.steps; let i=index', routerLink='{{step.url}}', [ngClass]!="{'disabled': i > validStep && chackable}", routerLinkActive='active')
                        i.icon(class='{{step.icon}}')
                        | {{step.title}}
