<div class="ui container">
    <div class="c-button primary">Primary</div>
    <div class="c-button secondary">Secondary</div>
    <div class="c-button info">Info</div>
    <div class="c-button notice">Notice</div>
    <div class="c-button error">Error</div>
</div>
