/* g-: Global Settings */

//Examples:
//
// $g-color-state-error: #dc322f;
// $g-color-state-success: #859900;
// $g-color-state-warning: #b58900;
// $g-color-state-information: #268bd2;

// THE LOCAL SETTINGS TO BE PUT IN THE OUTSIDE PARTIALS LOOKS:
//  /**
//   * Settings.
//   */
//
//  // Colours
//  $c-drop-down-menu-background-color: $g-color-white;
//  $c-drop-down-menu-outline-color: rgba($g-color-black, 0.19);
//  $c-drop-down-menu-link-color: $g-color-grey-rolling-stone;
//
//  // Widths and heights
//  $c-drop-down-menu-width: 194px;
//  $c-drop-down-menu-width-narrow: 170px;
//  $c-drop-down-menu-arrow-width: 13;
//  $c-drop-down-menu-arrow-height: 7;
//
//  // Padding
//  $c-drop-down-menu-padding: 7;
//  $c-drop-down-menu-link-padding-sides: 15px;
//  $c-drop-down-menu-link-padding-ends: 8px;
