include ../../../../../../resources/pug/abstracts/mixins
//  Personal form
.ui.attached.segment
    form.ui.form([formGroup]='personalForm' novalidate='')
        .ui.vertical.segment
            h4.ui.dividing.header Basic identification
            .three.fields
                +input('First name', 'firstName', 'First Name', 'required')
                +input('Middle name', 'middleName', 'Middle Name')
                +input('Second name', 'secondName', 'Second Name', 'required')
            .fields
                +input('National ID', 'nationalId', 'NID', 'required five wide')
                +input('Email', 'email', 'Email', 'required five wide')
                +input('Phone Number', 'phoneNumber', 'Eg. (+250)123456789', 'required six wide', 'number')
        .ui.vertical.segment
            h4.ui.dividing.header Clinical records
            .fields
                //+calendar('Death date', 'deathDate')
                +textarea('Allergy Note', 'allergyNote', 'six wide')
                +textarea('Non Clinical Note', 'nonClinicalNote', 'six wide')
            .ui.segment
                .fields
                    +checkbox('Accepted HIE', 'acceptedHIE', 'four wide inline')
                    +checkbox('No Known Allergy', 'noKnownAllergy', 'four wide inline')
                    +checkbox('No Known Medication', 'noKnownMed', 'four wide inline')
        br
        button.ui.default.right.labeled.icon.button([disabled]='!personalForm.valid', (click)='goToNext(personalForm)')
            i.right.arrow.icon
            | Next
