<h2>Items</h2>

<form>
    <md-input-container style="width:30%">
        <input mdInput [(ngModel)]="newItem.model" placeholder="Model" name="model">
    </md-input-container>
    <md-input-container style="width:30%">
        <input mdInput [(ngModel)]="newItem.manufacturer" placeholder="Manufacturer" name="manufacturer">
    </md-input-container>
    <button md-raised-button (click)="createItem(newItem)">Create Item</button>

    <md-list>
        <md-list-item *ngFor="let item of items" (click)="showInfo(item)">
      <span>
          {{item.model}}
      </span>
            <span>
        <button md-raised-button (click)="deleteItem(item); $event.stopPropagation()">Delete</button>
      </span>
        </md-list-item>
    </md-list>
</form>
