include ../../../resources/pug/abstracts/mixins
#clinical-main
    .ui.top.attached.menu(style='background-color: rgb(135, 201, 948); color: #fff;')
        a.item.amasidemenu(style='color: #fff !important;')
            i.sidebar.icon
            |       Menu
        a(routerLink='/login')
            img(style='max-height: 35px;margin: 8px;', src='../../assets/logo.png')
    .ui.bottom.attached.segment.pushable
        #clinical-sidebar.ui.labeled.icon.left.inline.inverted.vertical.sidebar.menu(style='background-color: rgb(135, 201, 948);')
            //
              'patient-view/:id', component: ClinicalPatientComponent },
            //
            +kira_menu_item(null, 'emr', 'Home', 'doctor')
            +kira_menu_item(['v.vit'], 'vitals', 'Vital Signs', 'treatment')
            +kira_menu_item(['v.allg'], 'allergies', 'Allergies', 'folder open outline')
            +kira_menu_item(['v.cond'], 'conditions', 'Medical Conditions', 'life ring')
            +kira_menu_item(['v.meds'], 'meds', 'Meds', 'first aid')
            +kira_menu_item(['v.fit'], 'wellness', 'Wellness', 'heartbeat')
            +kira_menu_item(['v.fit'], 'fitness', 'Fitness', 'bicycle')
            +kira_menu_item(['v.labs'], 'labs', 'Labs', 'bullseye')
            +kira_menu_item(['v.surg'], 'surgeries', 'Surgeries', 'ellipsis vertical')
            +kira_menu_item(['v.visit'], 'visits', 'All Visits', 'file text outline')
            +kira_menu_item(['v.docs'], 'docs', 'Docs', 'folder outline')
            +kira_menu_item(['v.vax'], 'vaccinations', 'Vaccinations', 'linkify')
            +kira_menu_item(['v.trans'], 'transfers', 'Transfers', 'emergency')
            +kira_menu_item(['v.form'], 'forms', 'Forms', 'file text outline outline')
            +kira_menu_item(['v.enc'], 'new-encounter/sx', 'Encounters', 'file outline')
            //+kira_menu_item(['v.chart'], '', 'Charts', 'location arrow')
        .pusher
            router-outlet
