
<div id="clinical-main">
    <div class="ui top attached menu" style="background-color: rgb(135, 201, 948); color: #fff;"><a
            class="item amasidemenu" style="color: #fff !important;"><i class="sidebar icon"></i> Menu</a><a
            routerLink="/login"><img style="max-height: 35px;margin: 8px;" src="../../assets/logo.png"/></a></div>
  <div class="ui bottom attached segment pushable">
    <div class="ui labeled icon left inline inverted vertical sidebar menu" id="clinical-sidebar" style="background-color: rgb(135, 201, 948);">
      <!--'patient-view/:id', component: ClinicalPatientComponent },
      -->
      <!---->
      <kira-menu-item [router_link]='["/emr"]' [item_label]='["Home"]' [icon_class]='["doctor icon"]'></kira-menu-item>
        <kira-menu-item *allowedClaims='["v.vit"]' [router_link]='["/vitals"]' [item_label]='["Vital Signs"]'
                        [icon_class]='["treatment icon"]'></kira-menu-item>
        <kira-menu-item *allowedClaims='["v.allg"]' [router_link]='["/allergies"]' [item_label]='["Allergies"]'
                        [icon_class]='["folder open outline icon"]'></kira-menu-item>
        <kira-menu-item *allowedClaims='["v.cond"]' [router_link]='["/conditions"]'
                        [item_label]='["Medical Conditions"]' [icon_class]='["life ring icon"]'></kira-menu-item>
        <kira-menu-item *allowedClaims='["v.meds"]' [router_link]='["/meds"]' [item_label]='["Meds"]'
                        [icon_class]='["first aid icon"]'></kira-menu-item>
        <kira-menu-item *allowedClaims='["v.fit"]' [router_link]='["/wellness"]' [item_label]='["Wellness"]'
                        [icon_class]='["heartbeat icon"]'></kira-menu-item>
        <kira-menu-item *allowedClaims='["v.fit"]' [router_link]='["/fitness"]' [item_label]='["Fitness"]'
                        [icon_class]='["bicycle icon"]'></kira-menu-item>
        <kira-menu-item *allowedClaims='["v.labs"]' [router_link]='["/labs"]' [item_label]='["Labs"]'
                        [icon_class]='["bullseye icon"]'></kira-menu-item>
        <kira-menu-item *allowedClaims='["v.surg"]' [router_link]='["/surgeries"]' [item_label]='["Surgeries"]'
                        [icon_class]='["ellipsis vertical icon"]'></kira-menu-item>
        <kira-menu-item *allowedClaims='["v.visit"]' [router_link]='["/visits"]' [item_label]='["All Visits"]'
                        [icon_class]='["file text outline icon"]'></kira-menu-item>
        <kira-menu-item *allowedClaims='["v.docs"]' [router_link]='["/docs"]' [item_label]='["Docs"]'
                        [icon_class]='["folder outline icon"]'></kira-menu-item>
        <kira-menu-item *allowedClaims='["v.vax"]' [router_link]='["/vaccinations"]' [item_label]='["Vaccinations"]'
                        [icon_class]='["linkify icon"]'></kira-menu-item>
        <kira-menu-item *allowedClaims='["v.trans"]' [router_link]='["/transfers"]' [item_label]='["Transfers"]'
                        [icon_class]='["emergency icon"]'></kira-menu-item>
        <kira-menu-item *allowedClaims='["v.form"]' [router_link]='["/forms"]' [item_label]='["Forms"]'
                        [icon_class]='["file text outline outline icon"]'></kira-menu-item>
        <kira-menu-item *allowedClaims='["v.enc"]' [router_link]='["/new-encounter/sx"]' [item_label]='["Encounters"]'
                        [icon_class]='["file outline icon"]'></kira-menu-item>
        <!--+kira_menu_item(['v.chart'], '', 'Charts', 'location arrow')-->
    </div>
    <div class="pusher">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>