.steps
    | Cheif Complaint > Vital Signs > Sx > Hx > Px > Tx > Dx > Rx
.chief-complaint
    form.ui.form
        .field
            label Chief Compaint
            input(name='chiefComplaint', type='text', placeholder="Enter patient's complaint")
        button.ui.button(value='Next') Next
