
<div class="daContent">
  <h3>Forms</h3>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Form Name</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
      <tr>
        <th colspan="2">
          <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="icon item"><i class="right chevron icon"></i></a></div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>