.daContent
    h3 Forms
    table.ui.celled.table
        thead
            tr
                th Form Name
                th Type
        tbody
        tfoot
            tr
                th(colspan='2')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon
