
<div class="ui positive message success nag"><span> The transfer was initiated successfully!</span><i class="close icon"></i></div>
<div class="ui raised segment" style="margin: 12px; text-align: left;">
  <div class="ui cards" *ngIf="patient">
    <div class="ui card">
      <!-- <div class="ui image">-->
      <!-- <img src="../assets/prof_pic.png">-->
      <!-- </div>-->
      <!-- <div class="content">-->
      <!-- <div class="header">{{ patient.firstName }} {{ patient.lastName }}</div>-->
      <!-- </div>-->
      <!-- <div class="extra content">-->
      <!-- <div class="meta">{{ patient.dob }}</div>-->
      <!-- </div>-->
      <!-- <div class="extra content">-->
      <!-- <div class="meta">{{ patient.email }}</div>-->
      <!-- </div>-->
      <!-- <div class="extra content">-->
      <!-- <div class="meta">{{ patient.nationalId }}</div>-->
      <!-- </div>-->
      <!-- <div class="extra content">-->
      <!-- <div class="meta">{{ patient.phoneNumber }}</div>-->
      <!-- </div>-->
      <!-- <div class="extra content">-->
      <!-- <div class="meta">{{ patient.nationalPatientId }}</div>-->
      <!-- </div>-->
      <!-- <div class="extra content">-->
      <!-- <span class="right floated">{{ patient.martalStatus }}</span>-->
      <!-- <span class="left floated"> {{ age }} &nbsp;</span>-->
      <!-- <span class="left floated"> {{ patient.sex }} </span>-->
      <!-- </div>-->
      <!-- <div class="extra content">-->
      <!-- <div class="ui two buttons">-->
      <!-- <button id="new-encounter" routerLink="/new-encounter"-->
      <!-- class="new-encounter ui basic primary button">New Encounter-->
      <!-- </button>-->
      <!-- <button id="add-transfer" class="ui basic teal button">Transfer</button>-->
      <!-- </div>-->
      <!-- </div>-->
      <!-- </div>-->
      <!-- <div class="card">-->
      <div class="image"><img src="../assets/prof_pic.png"/></div>
      <div class="content">
        <div class="header">{{ patient.firstName }} {{ patient.lastName }}</div>
        <div class="meta">(<a>{{ patient.email }}</a>)</div>
        <div class="description"><strong>National Id:</strong>{{ patient.nationalId }}</div>
      </div>
      <div class="extra content"><strong>MedicalRecord no.:</strong>{{ patient.medicalRecordNumber }}</div>
      <div class="extra content">
        <!-- <span class="right floated">{{ patient.martalStatus }}</span>--><span class="left floated"> {{ age }} years old, </span><span class="left floated"> {{ patient.sex==null?'Unknown sex':patient.sex }}</span>
      </div>
      <div class="extra content"><span><i class="phone icon"></i>{{ patient.phoneNumber }}</span><span class="right floated">{{ patient.nationalPatientId }}</span></div>
      <div class="extra content">
        <div class="ui three buttons">
          <button class="new-encounter ui basic primary button" routerLink="/new-encounter">New Encounter</button>
          <button class="ui basic teal button" (click)="showTransferModal()">Transfer</button>
        </div>
      </div>
    </div>
    <div class="ui card">
      <div class="content">
        <div class="header">At Glance</div>
      </div>
      <div class="content" *allowedClaims="['v.allg']">
        <h4>Allergies</h4>
        <div class="meta">{{ patient.allergyNote ? patient.allergyNote : 'No known Allergy' }}</div>
        <!-- .meta Lactose-intolerant-->
        <!-- .meta Aspirin allergic-->
      </div>
      <div class="content" *allowedClaims="['v.cond']">
        <h4>Med. Conditions</h4>
          <div class="meta">{{ med || 'No known Medical conditions' }}</div>
        <!-- .meta Diabetic-->
        <!-- .meta High Blood Pressure-->
      </div>
      <div class="content">
        <h4>Misc.</h4>
        <div class="meta">Blood type: O</div>
      </div>
    </div>
  </div>
</div>
<div *allowedClaims="['v.meds']">
  <div class="ui divider"></div>
  <div class="daContent">
    <h3>Current Medications</h3>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Drug Name</th>
          <th>Dosage</th>
          <th>Diagnosis</th>
          <th>Date Prescribed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Quinine</td>
          <td>260mg</td>
          <td>Malaria</td>
          <td>Jan 2nd, 2017</td>
        </tr>
        <tr>
          <td>Pyrazinamide</td>
          <td>500mg</td>
          <td>Tuberculosis</td>
          <td>Jan 7nd, 2017</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="icon item"><i class="right chevron icon"></i></a></div>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div>
  <div class="ui modal transfer clinic">
    <div class="header">Transfer the patient</div>
    <div class="ui negative message error nag"><span> Failed to initialize the transfer!</span><i class="close icon"></i></div>
    <div class="content">
      <form class="ui form" #form="ngForm" (ngSubmit)="add(form)">
        <div class="field">
          <label>transfer to</label>
          <select class="ui dropdown" ngModel="" name="to" required="">
            <option value="">Select hospital</option>
            <option *ngFor="let hospital of hospitals" value="{{hospital.id}}">{{hospital.name}}</option>
          </select>
        </div>
        <input ngModel="" type="text" value="Byo Centre de Sante" name="from" hidden="true"/>
        <div class="field">
          <label>Note</label>
          <textarea ngModel="" name="note" placeholder="add a note" required="">Keep a note</textarea>
        </div>
        <div class="actions">
          <button class="ui primary button" id="save" [disabled]="!form.form.valid" type="submit"><i class="mail icon"></i>Transfer</button>
          <button class="ui cancel button" type="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>