.ui.positive.message.success.nag
    span  The transfer was initiated successfully!
    i.close.icon
.ui.raised.segment(style='margin: 12px; text-align: left;')
    .ui.cards(*ngIf='patient')
        .ui.card
            // <div class="ui image">
            // <img src="../assets/prof_pic.png">
            // </div>
            // <div class="content">
            // <div class="header">{{ patient.firstName }} {{ patient.lastName }}</div>
            // </div>
            // <div class="extra content">
            // <div class="meta">{{ patient.dob }}</div>
            // </div>
            // <div class="extra content">
            // <div class="meta">{{ patient.email }}</div>
            // </div>
            // <div class="extra content">
            // <div class="meta">{{ patient.nationalId }}</div>
            // </div>
            // <div class="extra content">
            // <div class="meta">{{ patient.phoneNumber }}</div>
            // </div>
            // <div class="extra content">
            // <div class="meta">{{ patient.nationalPatientId }}</div>
            // </div>
            // <div class="extra content">
            // <span class="right floated">{{ patient.martalStatus }}</span>
            // <span class="left floated"> {{ age }} &nbsp;</span>
            // <span class="left floated"> {{ patient.sex }} </span>
            // </div>
            // <div class="extra content">
            // <div class="ui two buttons">
            // <button id="new-encounter" routerLink="/new-encounter"
            // class="new-encounter ui basic primary button">New Encounter
            // </button>
            // <button id="add-transfer" class="ui basic teal button">Transfer</button>
            // </div>
            // </div>
            // </div>
            // <div class="card">
            .image
                img(src='../assets/prof_pic.png')
            .content
                .header {{ patient.firstName }} {{ patient.lastName }}
                .meta
                    | (
                    a {{ patient.email }}
                    | )
                .description
                    strong National Id:
                    | {{ patient.nationalId }}
            .extra.content
                strong MedicalRecord no.:
                | {{ patient.medicalRecordNumber }}
            .extra.content
                // <span class="right floated">{{ patient.martalStatus }}</span>
                span.left.floated  {{ age }} years old, 
                span.left.floated  {{ patient.sex==null?'Unknown sex':patient.sex }}
            .extra.content
                span
                    i.phone.icon
                    | {{ patient.phoneNumber }}
                span.right.floated {{ patient.nationalPatientId }}
            .extra.content
                .ui.three.buttons
                    button.new-encounter.ui.basic.primary.button(routerLink='/new-encounter') New Encounter
                    button.ui.basic.teal.button((click)='showTransferModal()') Transfer
        .ui.card
            .content
                .header At Glance
            .content(*allowedClaims!="['v.allg']")
                h4 Allergies
                .meta {{ patient.allergyNote ? patient.allergyNote : 'No known Allergy' }}
                // .meta Lactose-intolerant
                // .meta Aspirin allergic
            .content(*allowedClaims!="['v.cond']")
                h4 Med. Conditions
                .meta {{ med || 'No known Medical conditions' }}
                // .meta Diabetic
                // .meta High Blood Pressure
            .content
                h4 Misc.
                .meta Blood type: O
div(*allowedClaims!="['v.meds']")
    .ui.divider
    .daContent
        h3 Current Medications
        table.ui.celled.table
            thead
                tr
                    th Drug Name
                    th Dosage
                    th Diagnosis
                    th Date Prescribed
            tbody
                tr
                    td Quinine
                    td 260mg
                    td Malaria
                    td Jan 2nd, 2017
                tr
                    td Pyrazinamide
                    td 500mg
                    td Tuberculosis
                    td Jan 7nd, 2017
            tfoot
                tr
                    th(colspan='4')
                        .ui.right.floated.pagination.menu
                            a.icon.item
                                i.left.chevron.icon
                            a.item 1
                            a.icon.item
                                i.right.chevron.icon
div
    .ui.modal.transfer.clinic
        .header Transfer the patient
        .ui.negative.message.error.nag
            span  Failed to initialize the transfer!
            i.close.icon
        .content
            form.ui.form(#form='ngForm', (ngSubmit)='add(form)')
                .field
                    label transfer to
                    select.ui.dropdown(ngModel='', name='to', required='')
                        option(value='') Select hospital
                        option(*ngFor='let hospital of hospitals', value='{{hospital.id}}') {{hospital.name}}
                input(ngModel='', type='text', value='Byo Centre de Sante', name='from', hidden='true')
                .field
                    label Note
                    textarea(ngModel='', name='note', placeholder='add a note', required='') Keep a note
                .actions
                    button#save.ui.primary.button([disabled]='!form.form.valid', type='submit')
                        i.mail.icon
                        | Transfer
                    button.ui.cancel.button(type='button') Cancel
