.daContent
    .ui.positive.message.success.nag
        span
            | The new allergy was added successfully!
        i.close.icon
    h3 Allergies
    #add-allergy.ui.primary.button Add Allergy
    table.ui.celled.table
        thead
            tr
                th Allergy
                th Since
                th Until
                th Medications
        tbody
            tr(*ngFor='let allerg of allergies')
                td {{ allerg.name }}
                td {{ allerg.startDate}}
                td {{ allerg.endDate.length > 0 ? allerg.endDate : 'Present' }}
                td {{ allerg.meds | listToStringPipe }}
        tfoot
            tr
                th(colspan='4')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon
    .ui.modal.allergy(style='display:none; z-index: 10001;')
        .header Add a new activity
        .ui.negative.message.error.nag
            span
                | Failed to add the allergy!
            i.close.icon
        .content
            form.ui.form(#form='ngForm', (ngSubmit)='add(form)')
                .field
                    label Allergy *
                    input(ngModel='', type='text', name='name', placeholder='Allergy', required='')
                .field
                    label Medications
                    input(ngModel='', type='text', name='meds', placeholder='What medications are you taking?(comma separated)')
                .field
                    label Start Date *
                    input(ngModel='', type='date', name='startDate', placeholder='Start Date', required='')
                .field
                    label End Date
                    input(ngModel='', type='date', name='endDate', placeholder='End Date')
                .actions
                    button#save.ui.primary.button([disabled]='!form.form.valid', type='submit')
                        i.mail.icon
                        | Save
                    button.ui.cancel.button(type='button') Cancel
