.daContent
    .ui.positive.message.success.nag
        span
            | The condition was added on patient's record successfully!
        i.close.icon
    h3 Medical Conditions
    #add-cond.ui.primary.button Add condition
    table.ui.celled.table
        thead
            tr
                th Condition
                th Since
                th Medications
                th Status
        tbody
            tr(*ngFor='let cond of conditions')
                td {{ cond.name }}
                td {{ cond.sinceDate }}
                td {{ cond.meds | listToStringPipe }}
                td {{ cond.status }}
        tfoot
            tr
                th(colspan='4')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon
    .ui.modal.condition(style='display:none; z-index: 10001;')
        .header Add a new condition
        .ui.negative.message.error.nag
            span
                | Failed to add the condition!
            i.close.icon
        .content
            form.ui.form(#conditionForm='ngForm', (ngSubmit)='addCondition(conditionForm)')
                .field
                    label Condition *
                    select.ui.dropdown(ngModel='', name='condition', required='')
                        option(value='') Select a condition
                        option(value='1') Hypertension
                        option(value='2') Type I Diabetes
                        option(value='3') Type II Diabetes
                        option(value='4') Asthma
                        option(value='5') Alzheimer's
                        option(value='6') Cancer
                .field
                    label Diagnosed Date *
                    input(ngModel='', type='date', name='date', placeholder='Diagnosed Date', required='')
                .field
                    label Medications
                    select.ui.fluid.search.dropdown(ngModel='', name='meds')
                        option(value='') Select meds
                        option(value='Metformin') Metformin
                        option(value='Condesartan') Condesartan
                        option(value='Donepezil') Donepezil
                        option(value='Galantamine') Galantamine
                        option(value='Bexarotene') Bexarotene
                        option(value='Xopenex') Xopenex
                .actions
                    button#add-condition.ui.primary.button([disabled]='!conditionForm.form.valid', type='submit')
                        i.mail.icon
                        | Save
                    button.ui.cancel.button(type='button') Cancel
