.daContent
    h3 Documents
    table.ui.celled.table
        thead
            tr
                th Document Name
                th Type
                th Date
        tbody
        tfoot
            tr
                th(colspan='3')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon
