.daContent
    .ui.positive.message.success.nag
        span
            | The activity was added successfully!
        i.close.icon
    h3 Physical Activities Log
    div
        button#add-fitness.ui.primary.button Add Activity
    table.ui.celled.table
        thead
            tr
                th Type
                th Activity
                th Calories
                th Feeling
                th  Note
                th Duration
                th Date
        tbody
            tr(*ngFor='let wo of workouts')
                td {{ wo.type }}
                td {{ wo.activity }}
                td {{ wo.calories }}
                td {{ wo.feeling }}
                td {{ wo.note }}
                td {{ wo.durationDisplay}}
                td {{ wo.date }}
        tfoot
            tr
                th(colspan='7')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon
    .ui.modal.fitness(style='display:none; z-index: 10001;')
        .header Add a new activity
        .ui.negative.message.error.nag
            span
                | Failed to add the workout!
            i.close.icon
        .content
            form.ui.form(#form='ngForm', (ngSubmit)='add(form)')
                .field
                    label Activity type
                    select.ui.dropdown(ngModel='', name='type', required='')
                        option(value='') Select type
                        option(value='Endurance') Endurance
                        option(value='Strength') Strength
                        option(value='Balance') Balance
                        option(value='Flexibility') Flexibility
                .field
                    label Activity
                    select.ui.dropdown(ngModel='', name='activity', required='')
                        option(value='') Select type
                        option(value='Running') Running
                        option(value='Jogging') Jogging
                        option(value='Walking') Walking
                        option(value='Bicycling') Bicycling
                        option(value='Swimming') Swimming
                        option(value='Weight Lifting') Weight Lifting
                        option(value='Other') Other
                .field
                    .two.fields
                        .field
                            label Duration
                            input(ngModel='', type='number', name='duration', placeholder='activity duration', required='')
                        .field
                            label Unit
                            select.ui.dropdown(ngModel='', name='durationUnit', required='')
                                option(value='') Select unit
                                option(value='Minute') minutes
                                option(value='Hour') hour(s)
                .field
                    label Calories
                    input(ngModel='', type='number', name='calories', placeholder='number of calories')
                .field
                    label How did you feel?
                    select.ui.dropdown(ngModel='', name='feeling')
                        option(value='') Select feeling
                        option(value='Energized') Energized
                        option(value='Excited') Excited
                        option(value='Painful') Painful
                        option(value='Weak') Weak
                .field
                    label Note
                    textarea(ngModel='', name='note') Keep a note
                .field
                    label Date
                    input(ngModel='', type='date', name='date', required='', placeholder='date')
                .actions
                    button#save.ui.primary.button([disabled]='!form.form.valid', type='submit')
                        i.mail.icon
                        | Save
                    button.ui.cancel.button(type='button') Cancel
