.daContent
    h3 Labs
    table.ui.celled.table
        thead
            tr
                th Description
                th Date
                th Time
                th Status/Result
        tbody
            tr
                td HIV-1/2 Antibody differentiation test
                td Jan 5th, 2017
                td 10:13Am
                td Negative for HIV-1 and HIV-2 antibodies
        tfoot
            tr
                th(colspan='4')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon
