.daContent
    .ui.positive.message.success.nag
        span
            | The medication was successfully prescribed!
        i.close.icon
    h3 Medications
    div
        button#add-med.ui.primary.button Prescribe Med
    table.ui.celled.table
        thead
            tr
                th Drug Name
                th Dosage
                th Diagnosis
                th Date Prescribed
        tbody
            tr(*ngFor='let med of meds')
                td {{ med.name }}
                td {{ med.strength + med.unit}}
                td {{ med.diagnosis }}
                td {{ med.prescriptionDate }}
        tfoot
            tr
                th(colspan='4')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon
    .ui.modal.meds(style='display:none; z-index: 10001;')
        .header Prescription
        .ui.negative.message.error.nag
            span
                | Failed to add the prescription!
            i.close.icon
        .content
            form.ui.form(#form='ngForm', (ngSubmit)='add(form)')
                .field
                    label Drug
                    input(ngModel='', type='text', name='name', placeholder='search drug name', required='')
                .ui.horizontal.divider Rx
                .field
                    .three.fields
                        .field
                            label Strength
                            input(ngModel='', type='number', name='strength', placeholder='strength', required='')
                        .field
                            label Unit
                            select.ui.dropdown(ngModel='', name='unit', required='')
                                option(value='') Select unit
                                option(value='10mg/100ml') 10mg/100ml
                                option(value='3.5mg/100ml') 3.5mg/100ml
                                option(value='4mg/100ml') 4mg/100ml
                                option(value='5mg/100ml') 5mg/100ml
                                option(value='5.2mg/100ml') 5.2mg/100ml
                        .field
                            label Form
                            select.ui.dropdown(ngModel='', name='form')
                                option(value='') Select form
                                option(value='tablet') tablet
                                option(value='capsule') capsule
                                option(value='paste') paste
                                option(value='syrup') syrup
                .field
                    label IV Additive
                    input(ngModel='', type='text', name='ivAdditive', placeholder='IV Vehicle/Additive')
                .ui.horizontal.divider Sig
                .field
                    .four.fields
                        .field
                            label quantity
                            input(ngModel='', type='number', name='quantity', placeholder='quantity')
                        .field
                            label Unit
                            select.ui.dropdown(ngModel='', name='sigUnit')
                                option(value='') Select unit
                                option(value='teaspoon') teaspoon
                                option(value='tablespoon') tablespoon
                                option(value='drops') drops
                                option(value='scoops') scoops
                                option(value='ml') ml
                        .field
                            label Route
                            select.ui.dropdown(ngModel='', name='sigUnit')
                                option(value='') Select route
                                option(value='by mouth') by mouth
                                option(value='intramuscular') intramuscular
                                option(value='per rectum') per rectum
                                option(value='per vagina') per vagina
                                option(value='buccal') buccal
                        .field
                            label days
                            input(ngModel='', type='number', name='sigDays', placeholder='quantity')
                .field
                    .four.fields
                        .field
                            label Freq
                            select.ui.dropdown(ngModel='', name='sigUnit')
                                option(value='') Select unit
                                option(value='as needed') as needed
                                option(value='as directed') as directed
                                option(value='daily') daily
                                option(value='twice a day') twice a day
                                option(value='weekly') weekly
                        .field
                            label Per day
                            input(ngModel='', type='number', name='sigPerDay', placeholder='quantity')
                        .field
                            label When
                            select.ui.dropdown(ngModel='', name='sigwhen')
                                option(value='') Select when
                                option(value='as needed') as needed
                                option(value='before meals') before meals
                                option(value='after meals') after meals
                                option(value='at breakfast') at breakfast
                                option(value='evening meal') evening meal
                        .field
                            label Site
                            select.ui.dropdown(ngModel='', name='sigSite')
                                option(value='')
                .ui.horizontal.divider Dispense
                .field
                    .three.fields
                        .field
                            label Amount
                            input(ngModel='', type='number', name='dispAmount', placeholder='amount')
                        .field
                            label Form/Pkg
                            select.ui.dropdown(ngModel='', name='sigform')
                                option(value='') Select unit
                                option(value='ampules') ampules
                                option(value='vials') vials
                                option(value='bottles') bottles
                                option(value='cans') cans
                                option(value='dose packs') dose packs
                                option(value='single dose syringe') single dose syringe
                        .field
                            label Num. of Refills
                            input(ngModel='', type='number', name='dispRefills', placeholder='Refills')
                .field
                    .three.fields
                        .field
                            label Brand
                            input(ngModel='', type='text', name='dispBrand', placeholder='Brand')
                        .field
                            label Manufacturer
                            input(ngModel='', type='text', name='dispManafacturer', placeholder='Manufacturer')
                        .field
                            label Lot
                            input(ngModel='', type='text', name='dispLot', placeholder='Lot')
                .actions
                    button#save.ui.primary.button([disabled]='!form.form.valid', type='submit')
                        i.mail.icon
                        | Prescribe
                    button.ui.cancel.button(type='button') Cancel
