
<div class="daContent">
  <div class="ui positive message success nag"><span>The medication was successfully prescribed!</span><i class="close icon"></i></div>
  <h3>Medications</h3>
  <div>
    <button class="ui primary button" id="add-med">Prescribe Med</button>
  </div>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Drug Name</th>
        <th>Dosage</th>
        <th>Diagnosis</th>
        <th>Date Prescribed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let med of meds">
        <td>{{ med.name }}</td>
        <td>{{ med.strength + med.unit}}</td>
        <td>{{ med.diagnosis }}</td>
        <td>{{ med.prescriptionDate }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">
          <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="icon item"><i class="right chevron icon"></i></a></div>
        </th>
      </tr>
    </tfoot>
  </table>
  <div class="ui modal meds" style="display:none; z-index: 10001;">
    <div class="header">Prescription</div>
    <div class="ui negative message error nag"><span>Failed to add the prescription!</span><i class="close icon"></i></div>
    <div class="content">
      <form class="ui form" #form="ngForm" (ngSubmit)="add(form)">
        <div class="field">
          <label>Drug</label>
          <input ngModel="" type="text" name="name" placeholder="search drug name" required=""/>
        </div>
        <div class="ui horizontal divider">Rx</div>
        <div class="field">
          <div class="three fields">
            <div class="field">
              <label>Strength</label>
              <input ngModel="" type="number" name="strength" placeholder="strength" required=""/>
            </div>
            <div class="field">
              <label>Unit</label>
              <select class="ui dropdown" ngModel="" name="unit" required="">
                <option value="">Select unit</option>
                <option value="10mg/100ml">10mg/100ml</option>
                <option value="3.5mg/100ml">3.5mg/100ml</option>
                <option value="4mg/100ml">4mg/100ml</option>
                <option value="5mg/100ml">5mg/100ml</option>
                <option value="5.2mg/100ml">5.2mg/100ml</option>
              </select>
            </div>
            <div class="field">
              <label>Form</label>
              <select class="ui dropdown" ngModel="" name="form">
                <option value="">Select form</option>
                <option value="tablet">tablet</option>
                <option value="capsule">capsule</option>
                <option value="paste">paste</option>
                <option value="syrup">syrup</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label>IV Additive</label>
          <input ngModel="" type="text" name="ivAdditive" placeholder="IV Vehicle/Additive"/>
        </div>
        <div class="ui horizontal divider">Sig</div>
        <div class="field">
          <div class="four fields">
            <div class="field">
              <label>quantity</label>
              <input ngModel="" type="number" name="quantity" placeholder="quantity"/>
            </div>
            <div class="field">
              <label>Unit</label>
              <select class="ui dropdown" ngModel="" name="sigUnit">
                <option value="">Select unit</option>
                <option value="teaspoon">teaspoon</option>
                <option value="tablespoon">tablespoon</option>
                <option value="drops">drops</option>
                <option value="scoops">scoops</option>
                <option value="ml">ml</option>
              </select>
            </div>
            <div class="field">
              <label>Route</label>
              <select class="ui dropdown" ngModel="" name="sigUnit">
                <option value="">Select route</option>
                <option value="by mouth">by mouth</option>
                <option value="intramuscular">intramuscular</option>
                <option value="per rectum">per rectum</option>
                <option value="per vagina">per vagina</option>
                <option value="buccal">buccal</option>
              </select>
            </div>
            <div class="field">
              <label>days</label>
              <input ngModel="" type="number" name="sigDays" placeholder="quantity"/>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="four fields">
            <div class="field">
              <label>Freq</label>
              <select class="ui dropdown" ngModel="" name="sigUnit">
                <option value="">Select unit</option>
                <option value="as needed">as needed</option>
                <option value="as directed">as directed</option>
                <option value="daily">daily</option>
                <option value="twice a day">twice a day</option>
                <option value="weekly">weekly</option>
              </select>
            </div>
            <div class="field">
              <label>Per day</label>
              <input ngModel="" type="number" name="sigPerDay" placeholder="quantity"/>
            </div>
            <div class="field">
              <label>When</label>
              <select class="ui dropdown" ngModel="" name="sigwhen">
                <option value="">Select when</option>
                <option value="as needed">as needed</option>
                <option value="before meals">before meals</option>
                <option value="after meals">after meals</option>
                <option value="at breakfast">at breakfast</option>
                <option value="evening meal">evening meal</option>
              </select>
            </div>
            <div class="field">
              <label>Site</label>
              <select class="ui dropdown" ngModel="" name="sigSite">
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
        <div class="ui horizontal divider">Dispense</div>
        <div class="field">
          <div class="three fields">
            <div class="field">
              <label>Amount</label>
              <input ngModel="" type="number" name="dispAmount" placeholder="amount"/>
            </div>
            <div class="field">
              <label>Form/Pkg</label>
              <select class="ui dropdown" ngModel="" name="sigform">
                <option value="">Select unit</option>
                <option value="ampules">ampules</option>
                <option value="vials">vials</option>
                <option value="bottles">bottles</option>
                <option value="cans">cans</option>
                <option value="dose packs">dose packs</option>
                <option value="single dose syringe">single dose syringe</option>
              </select>
            </div>
            <div class="field">
              <label>Num. of Refills</label>
              <input ngModel="" type="number" name="dispRefills" placeholder="Refills"/>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="three fields">
            <div class="field">
              <label>Brand</label>
              <input ngModel="" type="text" name="dispBrand" placeholder="Brand"/>
            </div>
            <div class="field">
              <label>Manufacturer</label>
              <input ngModel="" type="text" name="dispManafacturer" placeholder="Manufacturer"/>
            </div>
            <div class="field">
              <label>Lot</label>
              <input ngModel="" type="text" name="dispLot" placeholder="Lot"/>
            </div>
          </div>
        </div>
        <div class="actions">
          <button class="ui primary button" id="save" [disabled]="!form.form.valid" type="submit"><i class="mail icon"></i>Prescribe</button>
          <button class="ui cancel button" type="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>