include ../../../resources/pug/abstracts/mixins
#clinical-main(style='')
    .ui.top.attached.menu(style='background-color: rgb(135, 201, 948); color: #fff;')
        a.item.amasidemenu(style='color: #fff !important;')
            i.sidebar.icon
            |       Menu
        a(routerLink='/login')
            img(style='max-height: 35px;margin: 8px;', src='../../assets/logo.png')
        //
          <a data-notifications="5" class="circular ui button right floated item" style="position: absolute; margin-left: 90% !important;">
          <i class="comment outline icon"></i>
          </a>
    .ui.bottom.attached.segment.pushable
        #clinical-sidebar.ui.labeled.icon.left.inline.inverted.vertical.sidebar.menu(style='background-color: rgb(135, 201, 948);')
            //    {{patient?.id}}
            +kira_menu_item(null, 'patient/1', 'Home', 'doctor')
            +kira_menu_item(['v.fit'], 'patient-wellness/1', 'Wellness', 'heartbeat')
            +kira_menu_item(['v.fit'], 'patient-fitness/1', 'Fitness', 'bicycle')
            +kira_menu_item(['v.allg'], 'patient-allergies/1', 'Allergies', 'folder.open.outline')
            +kira_menu_item(['v.vit'], 'patient-vitals/1', 'Vital Signs', 'treatment')
            +kira_menu_item(['v.cond'], 'patient-conditions/1', 'Med. Cond.', 'life.ring')
            +kira_menu_item(['v.meds'], 'patient-meds/1', 'Meds', 'first.aid')
            +kira_menu_item(['v.vax'], 'patient-vax/1', 'Vaccinations', 'linkify')
            +kira_menu_item(['v.labs'], 'patient-labs/1', 'Labs', 'bullseye')
            +kira_menu_item(['v.surg'], 'patient-surgeries/1', 'Surg. & Proc.', 'ellipsis.vertical')
            +kira_menu_item(['v.visit'], 'patient-visits/1', 'Visits', 'file.text.outline')
            +kira_menu_item(['v.docs'], 'patient-docs/1', 'Docs', 'folder.outline')
            +kira_menu_item(['v.trans'], 'patient-transfers/1', 'Transfers', 'emergency')
            //+kira_menu_item(null, 'patient-telehealth/1', 'Telehealth', 'location.arrow')
        .pusher
            router-outlet
