
<div id="clinical-main">
  <div class="ui top attached menu" style="background-color: rgb(135, 201, 948); color: #fff;"><a class="item amasidemenu" style="color: #fff !important;"><i class="sidebar icon"></i>      Menu</a><a routerLink="/login"><img style="max-height: 35px;margin: 8px;" src="../../assets/logo.png"/></a>
    <!--
    <a data-notifications="5" class="circular ui button right floated item" style="position: absolute; margin-left: 90% !important;">
    <i class="comment outline icon"></i>
    </a>
    -->
  </div>
  <div class="ui bottom attached segment pushable">
    <div class="ui labeled icon left inline inverted vertical sidebar menu" id="clinical-sidebar" style="background-color: rgb(135, 201, 948);">
      <!--    {{patient?.id}}-->
      <kira-menu-item [router_link]='["/patient/1"]' [item_label]='["Home"]' [icon_class]='["doctor icon"]'></kira-menu-item>
      <kira-menu-item *allowedClaims='["v.fit"]' [router_link]='["/patient-wellness/1"]' [item_label]='["Wellness"]' [icon_class]='["heartbeat icon"]'></kira-menu-item>
      <kira-menu-item *allowedClaims='["v.fit"]' [router_link]='["/patient-fitness/1"]' [item_label]='["Fitness"]' [icon_class]='["bicycle icon"]'></kira-menu-item>
      <kira-menu-item *allowedClaims='["v.allg"]' [router_link]='["/patient-allergies/1"]' [item_label]='["Allergies"]' [icon_class]='["folder.open.outline icon"]'></kira-menu-item>
      <kira-menu-item *allowedClaims='["v.vit"]' [router_link]='["/patient-vitals/1"]' [item_label]='["Vital Signs"]' [icon_class]='["treatment icon"]'></kira-menu-item>
      <kira-menu-item *allowedClaims='["v.cond"]' [router_link]='["/patient-conditions/1"]' [item_label]='["Med. Cond."]' [icon_class]='["life.ring icon"]'></kira-menu-item>
      <kira-menu-item *allowedClaims='["v.meds"]' [router_link]='["/patient-meds/1"]' [item_label]='["Meds"]' [icon_class]='["first.aid icon"]'></kira-menu-item>
      <kira-menu-item *allowedClaims='["v.vax"]' [router_link]='["/patient-vax/1"]' [item_label]='["Vaccinations"]' [icon_class]='["linkify icon"]'></kira-menu-item>
      <kira-menu-item *allowedClaims='["v.labs"]' [router_link]='["/patient-labs/1"]' [item_label]='["Labs"]' [icon_class]='["bullseye icon"]'></kira-menu-item>
      <kira-menu-item *allowedClaims='["v.surg"]' [router_link]='["/patient-surgeries/1"]' [item_label]='["Surg. & Proc."]' [icon_class]='["ellipsis.vertical icon"]'></kira-menu-item>
      <kira-menu-item *allowedClaims='["v.visit"]' [router_link]='["/patient-visits/1"]' [item_label]='["Visits"]' [icon_class]='["file.text.outline icon"]'></kira-menu-item>
      <kira-menu-item *allowedClaims='["v.docs"]' [router_link]='["/patient-docs/1"]' [item_label]='["Docs"]' [icon_class]='["folder.outline icon"]'></kira-menu-item>
      <kira-menu-item *allowedClaims='["v.trans"]' [router_link]='["/patient-transfers/1"]' [item_label]='["Transfers"]' [icon_class]='["emergency icon"]'></kira-menu-item>
      <!--+kira_menu_item(null, 'patient-telehealth/1', 'Telehealth', 'location.arrow')-->
    </div>
    <div class="pusher">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>