
<!-- <div *ngIf="patient" class="daContent">-->
<div class="ui raised segment" style="margin: 12px; text-align: left;">
  <div class="ui stackable grid">
    <div class="twelve wide column">
      <div class="ui cards" *ngIf="patient">
        <div class="ui card">
          <div class="ui image"><img src="../assets/prof_pic.png"/></div>
          <div class="content">
            <div class="header"> {{ patient.firstName }} {{ patient.lastName }}</div>
            <!-- <div class="meta"> {{ patient.dob }}</div>-->
          </div>
          <div class="extra content">
            <!-- <span class="right floated">{{ patient.martalStatus }}</span>--><span class="left floated"> {{ age }} years old, </span><span class="left floated"> {{ patient.sex==null?'Unknown sex':patient.sex }}</span>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <div class="ui basic primary button disabled">Appointment</div>
              <div class="ui basic teal button disabled">Update</div>
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="content">
            <div class="header"> At Glance</div>
          </div>
          <div class="content">
            <h4>Allergies</h4>
            <div class="meta">{{ patient.noKnownAllergy?'No known Allergy':patient.allergyNote }}</div>
            <!--.meta Lactose-intolerant-->
            <!--.meta Aspirin allergic-->
          </div>
          <div class="content">
            <h4>Med. Conditions</h4>
            <div class="meta">{{ patient.noKnownMed?'No known Medical conditions':patient.allergyNote }}</div>
            <!--.meta Diabetic-->
            <!--.meta High Blood Pressure-->
          </div>
          <div class="content">
            <h4>Misc.</h4>
            <div class="meta">Blood type: O</div>
          </div>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <h4>Personalize Content</h4>
      <div class="ui divider"></div><a href="http://www.heart.org/HEARTORG/Conditions/HighBloodPressure/AboutHighBloodPressure/Understanding-Blood-Pressure-Readings_UCM_301764_Article.jsp#.WI5JOxsrKUk" target="_blank">Understanding Blood Pressure Readings</a>
      <div class="ui divider"></div><a href="http://www.webmd.com/diabetes/features/diabetes-weight-loss-finding-the-right-path#1" target="_blank">Weight and Diabetes: Lose Pounds to Lower Your Risk</a>
      <div class="ui divider"></div><a href="http://www.medicinenet.com/script/main/art.asp?articlekey=201300" target="_blank">
        Lack of Exercise
        Might Invite Dementia</a>
      <div class="ui divider"></div><a href="http://www.webmd.com/diabetes/guide/how-test-blood-glucose#1" target="_blank">
        How and When to Test
        Your Blood Sugar With Diabetes</a>
      <div class="ui divider"></div><a href="http://www.heart.org/HEARTORG/Conditions/HeartAttack/WarningSignsofaHeartAttack/Warning-Signs-of-a-Heart-Attack_UCM_002039_Article.jsp#.WI5JwxsrKUk" target="_blank">Warning Signs of a Heart Attack</a>
      <div class="ui divider"></div><a href="http://www.webmd.com/diabetes/daily-control-17/diabetes-start-exercise-plan" target="_blank">
        Get
        Your Diabetes Exercise Plan On Track</a>
      <div class="ui divider"></div><a href="http://www.mayoclinic.org/diseases-conditions/high-blood-pressure/expert-answers/blood-pressure/faq-20058254" target="_blank">Does drinking alcohol affect your blood pressure?</a>
      <div class="ui divider"></div><a href="https://www.nhlbi.nih.gov/health/educational/wecan/index.htm" target="_blank">
        Resources for
        Parents/Families</a>
    </div>
  </div>
</div>
<div>
  <div class="ui divider"></div>
  <div class="daContent">
    <h3>Current Medications</h3>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Drug Name</th>
          <th>Dosage</th>
          <th>Diagnosis</th>
          <th>Date Prescribed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Quinine</td>
          <td>260mg</td>
          <td>Malaria</td>
          <td>Jan 2nd, 2017</td>
        </tr>
        <tr>
          <td>Pyrazinamide</td>
          <td>500mg</td>
          <td>Tuberculosis</td>
          <td>Jan 7nd, 2017</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="icon item"><i class="right chevron icon"></i></a></div>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<!-- </div>-->