.daContent
    h3 Surgeries & Procedures
    table.ui.celled.table
        thead
            tr
                th Description
                th Date
                th Time
                th Status/Result
        tbody
        tfoot
            tr
                th(colspan='4')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon
