
<div class="daContent">
  <h3>Surgeries & Procedures</h3>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Date</th>
        <th>Time</th>
        <th>Status/Result</th>
      </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
      <tr>
        <th colspan="4">
          <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="icon item"><i class="right chevron icon"></i></a></div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>