
<div class="daContent">
  <div class="ui positive message success nag"><span> The transfer was initiated successfully!</span><i class="close icon"></i></div>
  <h3>Transfers</h3>
  <div>
    <button class="ui primary button" id="add-transfer">
      Transfer
      patient
    </button>
  </div>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Note</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trans of transfers">
        <td>{{ trans.from}}</td>
        <td>{{ trans.to }}</td>
        <td>{{ trans.note }}</td>
        <td>{{ trans.date }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">
          <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="icon item"><i class="right chevron icon"></i></a></div>
        </th>
      </tr>
    </tfoot>
  </table>
  <div class="ui modal transfer" style="display: none; z-index: 10001;">
    <div class="header">Transfer the patient</div>
    <div class="ui negative message error nag"><span> Failed to initialize the transfer!</span><i class="close icon"></i></div>
    <div class="content">
      <form class="ui form" #form="ngForm" (ngSubmit)="add(form)">
        <div class="field">
          <label>transfer to</label>
          <select class="ui dropdown" ngModel="" name="to" required="">
            <option value="">Select hospital</option>
            <option value="CHUK Hospital">CHUK Hospital</option>
            <option value="Roi Faycal">Roi Faycal</option>
            <option value="Kanombe Hospital">Kanombe Hospital</option>
            <option value="Clinic Du Plateau">Clinic Du Plateau</option>
          </select>
        </div>
        <input ngModel="" type="text" value="Byo Centre de Sante" name="from" hidden=""/>
        <div class="field">
          <label>Note</label>
          <textarea ngModel="" name="note" placeholder="add a note" required="">Keep a note</textarea>
        </div>
        <div class="actions">
          <button class="ui primary button" id="save" [disabled]="!form.form.valid" type="submit"><i class="mail icon"></i>Transfer</button>
          <button class="ui cancel button" type="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>