.daContent
    .ui.positive.message.success.nag
        span  The transfer was initiated successfully!
        i.close.icon
    h3 Transfers
    div
        button#add-transfer.ui.primary.button
            | Transfer
            | patient
    table.ui.celled.table
        thead
            tr
                th From
                th To
                th Note
                th Date
        tbody
            tr(*ngFor='let trans of transfers')
                td {{ trans.from}}
                td {{ trans.to }}
                td {{ trans.note }}
                td {{ trans.date }}
        tfoot
            tr
                th(colspan='4')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon
    .ui.modal.transfer(style='display: none; z-index: 10001;')
        .header Transfer the patient
        .ui.negative.message.error.nag
            span  Failed to initialize the transfer!
            i.close.icon
        .content
            form.ui.form(#form='ngForm', (ngSubmit)='add(form)')
                .field
                    label transfer to
                    select.ui.dropdown(ngModel='', name='to', required='')
                        option(value='') Select hospital
                        option(value='CHUK Hospital') CHUK Hospital
                        option(value='Roi Faycal') Roi Faycal
                        option(value='Kanombe Hospital') Kanombe Hospital
                        option(value='Clinic Du Plateau') Clinic Du Plateau
                input(ngModel='', type='text', value='Byo Centre de Sante', name='from', hidden='')
                .field
                    label Note
                    textarea(ngModel='', name='note', placeholder='add a note', required='') Keep a note
                .actions
                    button#save.ui.primary.button([disabled]='!form.form.valid', type='submit')
                        i.mail.icon
                        | Transfer
                    button.ui.cancel.button(type='button') Cancel
