.daContent
    h3 Visits
    table.ui.celled.table
        thead
            tr
                th Date
                th Diagnosis
                th Note
        tbody
        tfoot
            tr
                th(colspan='3')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon
