.daContent
    .ui.positive.message.success.nag
        span
            | The activity was added successfully!
        i.close.icon
    h3 {{ textDisplay }}
    div
        button#add-vital.ui.primary.button Add Vital Signs
    table.ui.celled.table
        thead
            tr
                th Date/Time
                th Temperature
                th Heart Rate
                th Blood Pressure
                th Respiration Rate
                th Pain Scale
        tbody
            tr(*ngFor='let v of vitals')
                td {{ v.date }}
                td {{ v.temp + 'ºC' }}
                td {{ v.pulse }}
                td {{ v.diastolic + '/' + v.systolic }}
                td {{ v.respRate + '/min'}}
                td {{ v.pain }}
        tfoot
            tr
                th(colspan='6')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon
    .ui.modal.vitals(style='display:none; z-index: 10001;')
        .header Add vital signs
        .ui.negative.message.error.nag
            span
                | Failed to add the workout!
            i.close.icon
        .content
            form.ui.form(#form='ngForm', (ngSubmit)='add(form)')
                .field
                    .two.fields
                        .field
                            label Body temperature(Celsius)
                            input(ngModel='', type='number', name='temp', placeholder='body temperature', required='')
                        .field
                            label Oral temperature(Celsius)
                            input(ngModel='', type='number', name='oral', placeholder='oral temperature', required='')
                .field
                    .three.fields
                        .field
                            label Respiration Rate(breaths/min)
                            input(ngModel='', type='number', name='resp', placeholder='breaths/min', required='')
                        .field
                            label Pulse Rate(bpm)
                            input(ngModel='', type='number', name='pulse', placeholder='pulse rate', required='')
                        .field
                            label Pain Scale(1-10)
                            input(ngModel='', type='number', name='pain', placeholder='patient pain on scale of 1-10', required='')
                .field
                    .two.fields
                        .field
                            label Diastolic Pressure
                            input(ngModel='', type='number', name='dia', placeholder='diastolic pressure', required='')
                        .field
                            label Systolic Pressure
                            input(ngModel='', type='number', name='sys', placeholder='systolic pressure', required='')
                .field
                    .two.fields
                        .field
                            label Height(in meters)
                            input(ngModel='', type='number', name='height', placeholder='height in meters')
                        .field
                            label Weight(in kg)
                            input(ngModel='', type='number', name='weight', placeholder='weight in kg')
                .actions
                    button#save.ui.primary.button([disabled]='!form.form.valid', type='submit')
                        i.mail.icon
                        | Save
                    button.ui.cancel.button(type='button') Cancel
