
<div class="daContent">
  <div class="ui positive message success nag"><span>The activity was added successfully!</span><i class="close icon"></i></div>
  <h3>{{ textDisplay }}</h3>
  <div>
    <button class="ui primary button" id="add-vital">Add Vital Signs</button>
  </div>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Date/Time</th>
        <th>Temperature</th>
        <th>Heart Rate</th>
        <th>Blood Pressure</th>
        <th>Respiration Rate</th>
        <th>Pain Scale</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of vitals">
        <td>{{ v.date }}</td>
        <td>{{ v.temp + 'ºC' }}</td>
        <td>{{ v.pulse }}</td>
        <td>{{ v.diastolic + '/' + v.systolic }}</td>
        <td>{{ v.respRate + '/min'}}</td>
        <td>{{ v.pain }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="6">
          <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="icon item"><i class="right chevron icon"></i></a></div>
        </th>
      </tr>
    </tfoot>
  </table>
  <div class="ui modal vitals" style="display:none; z-index: 10001;">
    <div class="header">Add vital signs</div>
    <div class="ui negative message error nag"><span>Failed to add the workout!</span><i class="close icon"></i></div>
    <div class="content">
      <form class="ui form" #form="ngForm" (ngSubmit)="add(form)">
        <div class="field">
          <div class="two fields">
            <div class="field">
              <label>Body temperature(Celsius)</label>
              <input ngModel="" type="number" name="temp" placeholder="body temperature" required=""/>
            </div>
            <div class="field">
              <label>Oral temperature(Celsius)</label>
              <input ngModel="" type="number" name="oral" placeholder="oral temperature" required=""/>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="three fields">
            <div class="field">
              <label>Respiration Rate(breaths/min)</label>
              <input ngModel="" type="number" name="resp" placeholder="breaths/min" required=""/>
            </div>
            <div class="field">
              <label>Pulse Rate(bpm)</label>
              <input ngModel="" type="number" name="pulse" placeholder="pulse rate" required=""/>
            </div>
            <div class="field">
              <label>Pain Scale(1-10)</label>
              <input ngModel="" type="number" name="pain" placeholder="patient pain on scale of 1-10" required=""/>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="two fields">
            <div class="field">
              <label>Diastolic Pressure</label>
              <input ngModel="" type="number" name="dia" placeholder="diastolic pressure" required=""/>
            </div>
            <div class="field">
              <label>Systolic Pressure</label>
              <input ngModel="" type="number" name="sys" placeholder="systolic pressure" required=""/>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="two fields">
            <div class="field">
              <label>Height(in meters)</label>
              <input ngModel="" type="number" name="height" placeholder="height in meters"/>
            </div>
            <div class="field">
              <label>Weight(in kg)</label>
              <input ngModel="" type="number" name="weight" placeholder="weight in kg"/>
            </div>
          </div>
        </div>
        <div class="actions">
          <button class="ui primary button" id="save" [disabled]="!form.form.valid" type="submit"><i class="mail icon"></i>Save</button>
          <button class="ui cancel button" type="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>