.daContent
    .ui.positive.message.success.nag
        span
            | The meal was added successfully!
        i.close.icon
    h3 Diet Log
    div
        button#add-well.ui.primary.button Add a Meal
    table.ui.celled.table
        thead
            tr
                th Description
                th Date
                th Food type
                th Calories
        tbody
            tr(*ngFor='let meal of meals')
                td {{ meal.description }}
                td {{ meal.date}}
                td {{ meal.foodType }}
                td {{ meal.calories }}
        tfoot
            tr
                th(colspan='4')
                    .ui.right.floated.pagination.menu
                        a.icon.item
                            i.left.chevron.icon
                        a.item 1
                        a.icon.item
                            i.right.chevron.icon
    .ui.modal.wellness(style='display:none; z-index: 10001;')
        .header Add a new meal
        .ui.negative.message.error.nag
            span
                | Failed to add the meal!
            i.close.icon
        .content
            form.ui.form(#form='ngForm', (ngSubmit)='addMeal(form)')
                .field
                    input(ngModel='', type='text', name='description', required='', placeholder='describe the meal')
                .field
                    input(ngModel='', type='number', name='calories', placeholder='number of calories')
                .field
                    label Food type
                    select.ui.dropdown(ngModel='', name='foodType', required='')
                        option(value='') Select type
                        option(value='Protein') Protein
                        option(value='Whole Grain') Whole Grain
                        option(value='Veggies') Veggies
                        option(value='Legume') Legume
                        option(value='Alcohol') Alcohol
                        option(value='Organic') Organic
                .field
                    input(ngModel='', type='date', name='date', required='', placeholder='date')
                .actions
                    button#save.ui.primary.button([disabled]='!form.form.valid', type='submit')
                        i.mail.icon
                        | Save
                    button.ui.cancel.button(type='button') Cancel
