
<div class="daContent">
  <div class="ui positive message success nag"><span>The meal was added successfully!</span><i class="close icon"></i></div>
  <h3>Diet Log</h3>
  <div>
    <button class="ui primary button" id="add-well">Add a Meal</button>
  </div>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Date</th>
        <th>Food type</th>
        <th>Calories</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meal of meals">
        <td>{{ meal.description }}</td>
        <td>{{ meal.date}}</td>
        <td>{{ meal.foodType }}</td>
        <td>{{ meal.calories }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">
          <div class="ui right floated pagination menu"><a class="icon item"><i class="left chevron icon"></i></a><a class="item">1</a><a class="icon item"><i class="right chevron icon"></i></a></div>
        </th>
      </tr>
    </tfoot>
  </table>
  <div class="ui modal wellness" style="display:none; z-index: 10001;">
    <div class="header">Add a new meal</div>
    <div class="ui negative message error nag"><span>Failed to add the meal!</span><i class="close icon"></i></div>
    <div class="content">
      <form class="ui form" #form="ngForm" (ngSubmit)="addMeal(form)">
        <div class="field">
          <input ngModel="" type="text" name="description" required="" placeholder="describe the meal"/>
        </div>
        <div class="field">
          <input ngModel="" type="number" name="calories" placeholder="number of calories"/>
        </div>
        <div class="field">
          <label>Food type</label>
          <select class="ui dropdown" ngModel="" name="foodType" required="">
            <option value="">Select type</option>
            <option value="Protein">Protein</option>
            <option value="Whole Grain">Whole Grain</option>
            <option value="Veggies">Veggies</option>
            <option value="Legume">Legume</option>
            <option value="Alcohol">Alcohol</option>
            <option value="Organic">Organic</option>
          </select>
        </div>
        <div class="field">
          <input ngModel="" type="date" name="date" required="" placeholder="date"/>
        </div>
        <div class="actions">
          <button class="ui primary button" id="save" [disabled]="!form.form.valid" type="submit"><i class="mail icon"></i>Save</button>
          <button class="ui cancel button" type="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>