include ../../../../../../resources/pug/abstracts/mixins
.ui.raised.very.padded.container.segment
    // ITEM-DETAILS-PAGE HEADER
    h2.ui.header
        i.settings.icon
        .content
            | Organization Settings
            .sub.header
                | Manage your preferences for
                strong "{{ item?.name }}"
                |  item
    .ui.section.divider
    // ERROR OR SUCCESS MESSAGE
    action-message([errorMsg]='errorMsg', [successMsg]='successMsg')
    // HIDE/SHOW ITEM EDIT FROM
    div(*ngIf='editingItem==false; then item_section else item_edit_form')
    // ITEM DETAILS SECTION
    ng-template(#item_section='')
        // CHECK IF THE ITEM EXISTS
        div(*ngIf='item; then item_details else no_item_found')
        // IN CASE THE ITEM EXISTS DISPLAY ITEM DETAILS
        ng-template(#item_details='')
            h4.ui.horizontal.divider.header
                i.bar.chart.icon
                |  Organization details
            table.ui.definition.table
                tbody
                    tr
                        td Name
                        td {{ item.name }}
                    tr
                        td Code
                        td {{ item.shortName }}
                    tr
                        td TIN Number
                        td {{ item.nationalId }}
                    //tr
                    //  td Parent Organization Id
                    //  td {{ item.parentOrganizationId }}
                tfoot.full-width(*ngIf='is_details')
                    tr
                        th(colspan='2')
                            button.ui.smalls.labeled.icon.button((click)='destroy(item)')
                                i.caret.right.icon
                                |  Delete this organization
                            button.ui.right.floated.smalls.primary.labeled.icon.button((click)='showEditForm(item)')
                                i.caret.right.icon
                                |  Edit this organization
        // IN CASE THE ITEM DOESN'T EXIST DISPLAY ITEM NOT FOUND MESSAGE
        ng-template(#no_item_found='')
            h1 No item found with id: {{ itemId }}
    // ITEM EDIT FORM
    ng-template(#item_edit_form='')
        main.content
            .ui.container
                .ui.relaxed.divided.padded.full.grid
                    .row
                        .column
                            h3.ui.header.segment
                                .content Edit an item
                    .row
                        .sixteen.wide.column
                            form.ui.form([formGroup]='formGroup', (ngSubmit)='edit(formGroup.value, item.id)', novalidate='')
                                .ui.segment
                                    +input('Name', 'name', 'Name...', 'required')
                                    +input('Short name', 'shortName', 'Short name...', 'required')
                                    +input('TIN Number', 'nationalId', 'TIN Number...', 'required')
                                button.ui.primary.submit.button(*ngIf='!isShowing', [disabled]='!formGroup.valid')
                                    | Save changes
                                spinner(name='mySpinner', [(show)]='isShowing')
                                    button.ui.primary.loading.button.disabled Loading...
                                .ui.reset.button((click)='formReset()') Reset
                                .ui.black.right.floated.button((click)='hideForm()') Back to organization details
