/* MIXINS */
@import "../../../../node_modules/include-media/dist/include-media";

// ------------------------------------------------
// Expressive BEM mixins (for BEM and namespacing)
//-------------------------------------------------

//---------------------------------------------
// Creates a new, top-level Block
// --------------------------------------------
// If a type (e.g. component, module, utility)
// is given, it will auto-generate a namespaced
// class that adheres to Harry Roberts' post
// on namespaced BEM classes.
// If given: @include new(product-item, component)
// Produces: .c-product-item
// Remember, the $type is optional.

@mixin new($name, $type: null) {
  @at-root {
    @if ($type != null) {
      $namespace: str-slice($type, 0, 1);
      .#{$namespace}-#{$name} {
        @content
      }
    } @else {
      .#{$name} {
        @content
      }
    }
  }
}

@mixin class($name, $type: null) { /* OOP class alias */
  @include new($name, $type: null) {
    @content
  }
}

@mixin createClass($name, $type: null) { /* React-inspired class alias */
  @include new($name, $type: null) {
    @content
  }
}

/*---------------------------------------------
// Creates an Element
//---------------------------------------------*/
// If given:
// @include new(product-item, component){
//  @include has(title)
//  }
//
// Produces:
// .c-product-item {}
// .c-product-item__title {}
//
// If given:
// @include new(person){
//   @include when(female);
//   @include has(hand, person) refers to the parent scope
//    }
//  }
//
// Produces:
// .person {};
// .person--female {};
// .person--female .person__hand {};
//

@mixin has($name, $childOf: '') {
  @if ($childOf != '') {
    .#{$childOf}__#{$name} {
      @content
    }
  } @else {
    @at-root {
      #{&}__#{$name} {
        @content
      }
    }
  }
}

//----------------------------------------------
// Creates a Modifier
// ---------------------------------------------
// If given:
// @include new(person){
//   @include when(female)
//  }
//
// Produces:
// .person {}
// .person--female {}

@mixin when($name) {
  @at-root {
    #{&}--#{$name} {
      @content
    }
  }
}

//-----------------------------------------------
// Creates a behaviorial State
// -----------------------------------------
// If given:
// @include new(menu, component){
//   @include has(item){
//     @include if(active)
//    }
//  }
//
// Produces:
// .c-menu {}
// .c-menu__item {}
// .c-menu__item.is-active {}

@mixin if-its($state) {
  &.is-#{$state} {
    @content
  }
}

@mixin if($state) {
  @include if-its($state) {
    @content
  }
}

//-----------------------------------------------
// Creates an ownership State
//-----------------------------------------------
// If given:
// @include new(menu, component){
//   @include has(item){
//     @include with(dropdown)
//    }
//  }
//
// Produces:
// .c-menu {}
// .c-menu__item {}
// .c-menu__item.has-dropdown {}

@mixin got($something) {
  &.has-#{$something} {
    @content
  }
}

@mixin with($something) {
  @include got($something) {
    @content
  }
}

//-----------------------------------------------
// Allows importing Blocks into other Blocks
//-----------------------------------------------
// Uses @extend, so BEWARE. This is experimental,
// may mess up your code, so double-check that the
// output is what you want.
//
// This potentially allows you to create blocks
//(components, components etc.) seperately and instead
// load them into a parent block / component similar
// to something like React.
//
// As a silly example, let's say you've made
// a List component and your Product
// component should be imported into, rather than
// nested as a @include has:
//
// @include new(product, component){
//   color: red;
//   height: 50px;
//   width: 100px;
// }
//
// @include new(list, component){
//   display: block;
//   margin: 0;
//
//   @include import(c-product)
//  }
//
// Note that we're using the generated class name
// as the parameter value in @include import. So just saying
// @include import(product) won't work(unless you wrote
// @include new(product) without setting a type).

@mixin import($something) {
  @at-root {
    & .#{$something} {
      @extend .#{$something};
      @content
    }
  }
}

@mixin fetch($something) {
  @include import($something) {
    @content
  }
}

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self (false) - Whether or not to include current selector
/// @see https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      /**/
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      /**/
      @content;
    }
  }
}

/// Contexts
/// @author Hugo Giraudel
/// @param {String | List} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

/// Helper to clear inner floats
/// @author Nicolas Gallagher
/// @link http://nicolasgallagher.com/micro-clearfix-hack/ Micro Clearfix
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

/// Helper to size an element
/// @author Hugo Giraudel
/// @param {Length} $width
/// @param {Length} $height
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

/**
* MODULES - TABS
*/

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/////////////////////////////////

/**
* BASE - MIXINS
*/

@mixin transition($property, $speed, $effect) {
  transition: $property $speed $effect !important;
  -moz-transition: $property $speed $effect !important;
  -webkit-transition: $property $speed $effect !important;
  -o-transition: $property $speed $effect !important;
}

@mixin transition2($property1, $speed1, $effect1,$property2, $speed2, $effect2) {
  transition: $property1 $speed1 $effect1, $property2 $speed2 $effect2 !important;
  -moz-transition: $property1 $speed1 $effect1, $property2 $speed2 $effect2 !important;
  -ms-transition: $property1 $speed1 $effect1, $property2 $speed2 $effect2 !important;
  -webkit-transition: $property1 $speed1 $effect1, $property2 $speed2 $effect2 !important;
}

@mixin transition3($property1, $speed1, $effect1,$property2, $speed2, $effect2,$property3, $speed3, $effect3) {
  transition: $property1 $speed1 $effect1, $property2 $speed2 $effect2, $property3 $speed3 $effect3 !important;
  -moz-transition: $property1 $speed1 $effect1, $property2 $speed2 $effect2, $property3 $speed3 $effect3 !important;
  -ms-transition: $property1 $speed1 $effect1, $property2 $speed2 $effect2, $property3 $speed3 $effect3 !important;
  -webkit-transition: $property1 $speed1 $effect1, $property2 $speed2 $effect2, $property3 $speed3 $effect3 !important;
}

@mixin hover-bg($color) {
  background-color: rgba($color, .8) !important;
  &:hover {
    @if ($color == $button-white-bg-color) {
      background-color: rgba($default-color, .3) !important;
    } @else {
      background-color: $color !important;
    }
  }
  @include transition2(background-color, 100ms, ease-in, color, 100ms, ease-in);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius !important;
  -moz-border-radius: $radius !important;
  -ms-border-radius: $radius !important;
  border-radius: $radius !important;
}

@mixin link-color {
  //  Here will desplay link colors base on the sections
}

@mixin elegant-shadow() {
  text-shadow: $shadow;
}

@mixin add-border($size, $color, $position) {
  @if $position == 'all' {
    border: $size solid $color !important;
  } @else if $position == 'top' {
    border-top: $size solid $color !important;
  } @else if $position == 'bottom' {
    border-bottom: $size solid $color !important;
  } @else if $position == 'right' {
    border-right: $size solid $color !important;
  } @else if $position == 'left' {
    border-left: $size solid $color !important;
  } @else if $position == 'top-bottom' {
    border-bottom: $size solid $color !important;
    border-top: $size solid $color !important;
  } @else if $position == 'right-left' {
    border-left: $size solid $color !important;
    border-right: $size solid $color !important;
  }
}

@mixin add-background($color) {
  background: $color !important;
  @if $color == $white-color or $color == $default-color {
    color: $secondary-color !important;
    h2.page-header {
      color: $primary-color !important;
    }
  } @else {
    color: $white-color !important;
  }
}

@function font-weight($keyword) {
  $conversion-map: (
          thin: 100,
          hairline: 100,
          extra light: 200,
          extralight: 200,
          ultra light: 200,
          ultralight: 200,
          light: 300,
          book: 300,
          demi: 300,
          normal: 400,
          regular: 400,
          medium: 500,
          semi bold: 600,
          semibold: 600,
          demi bold: 600,
          demibold: 600,
          bold: 700,
          extra bold: 800,
          extrabold: 800,
          ultra bold: 800,
          ultrabold: 800,
          black: 900,
          heavy: 900,
          fat: 900,
          poster: 900,
          extra black: 900,
          extrablack: 900,
          ultra black: 900,
          ultrablack: 900
  );

  @if not map-has-key($conversion-map, $keyword) {
    @error "Unsupported `font-weight` keyword `#{$keyword}`";
    @return null;
  }
  @return map-get($conversion-map, $keyword);
}

@mixin font-weight($keyword) {
  font-weight: font-weight($keyword) !important;
}

@mixin center($horizontal: true, $vertical: true) {
  position: absolute;

  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);

  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//@import "compass/css3";

/// Mixin to customize scrollbars
/// Beware, this does not work in all browsers
/// @author Hugo Giraudel
/// @param {Length} $size - Horizontal scrollbar's height and vertical scrollbar's width
/// @param {Color} $foreground-color - Scrollbar's color
/// @param {Color} $background-color [mix($primary, white, 75%)] - Scrollbar's color
/// @example scss - Scrollbar styling
///   @include scrollbars(.5em, slategray);
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

//@include scrollbars(.5em, slategray);
//
//body {
//  height: 3000px;
//  width:  3000px;
//}

$o-grid-default-config: (
        columns: 12,
        gutter: 10px,
        min-width: 240px,
        max-width: 1330px,
        layouts: (
                S: 370px, // ≥20px columns
                M: 610px, // ≥40px columns
                L: 850px, // ≥60px columns
                XL: 1090px // ≥80px columns
        ),
        fluid: true,
        debug: false,
        fixed-layout: M,
        enhanced-experience: true
);

/// Deep set function to set a value in nested maps
/// @author Hugo Giraudel
/// @access public
/// @param {Map} $map - Map
/// @param {List} $keys -  Key chaine
/// @param {*} $value - Value to assign
/// @return {Map}
@function map-deep-set($map, $keys, $value) {
  $maps: ($map,);
  $result: null;

  // If the last key is a map already
  // Warn the user we will be overriding it with $value
  @if type-of(nth($keys, -1)) == "map" {
    @warn "The last key you specified is a map; it will be overrided with `#{$value}`.";
  }

  // If $keys is a single key
  // Just merge and return
  @if length($keys) == 1 {
    @return map-merge($map, ($keys: $value));
  }

  // Loop from the first to the second to last key from $keys
  // Store the associated map to this key in the $maps list
  // If the key doesn't exist, throw an error
  @for $i from 1 through length($keys) - 1 {
    $current-key: nth($keys, $i);
    $current-map: nth($maps, -1);
    $current-get: map-get($current-map, $current-key);
    @if $current-get == null {
      @error "Key `#{$key}` doesn't exist at current level in map.";
    }
    $maps: append($maps, $current-get);
  }

  // Loop from the last map to the first one
  // Merge it with the previous one
  @for $i from length($maps) through 1 {
    $current-map: nth($maps, $i);
    $current-key: nth($keys, $i);
    $current-val: if($i == length($maps), $value, $result);
    $result: map-merge($current-map, ($current-key: $current-val));
  }

  // Return result
  @return $result;
}

$ease: (
        in-quad: cubic-bezier(0.55, 0.085, 0.680, 0.530),
        in-cubic: cubic-bezier(0.550, 0.055, 0.675, 0.190),
        in-quart: cubic-bezier(0.895, 0.030, 0.685, 0.220),
        in-quint: cubic-bezier(0.755, 0.050, 0.855, 0.060),
        in-sine: cubic-bezier(0.470, 0.000, 0.745, 0.715),
        in-expo: cubic-bezier(0.950, 0.050, 0.795, 0.035),
        in-circ: cubic-bezier(0.600, 0.040, 0.980, 0.335),
        in-back: cubic-bezier(0.600, -0.280, 0.735, 0.045),
        out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940),
        out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000),
        out-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000),
        out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000),
        out-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000),
        out-expo: cubic-bezier(0.190, 1.000, 0.220, 1.000),
        out-circ: cubic-bezier(0.075, 0.820, 0.165, 1.000),
        out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275),
        in-out-quad: cubic-bezier(0.455, 0.030, 0.515, 0.955),
        in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000),
        in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000),
        in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000),
        in-out-sine: cubic-bezier(0.445, 0.050, 0.550, 0.950),
        in-out-expo: cubic-bezier(1.000, 0.000, 0.000, 1.000),
        in-out-circ: cubic-bezier(0.785, 0.135, 0.150, 0.860),
        in-out-back: cubic-bezier(0.680, -0.550, 0.265, 1.550)
);

@function ease($key) {
  @if map-has-key($ease, $key) {
    @return map-get($ease, $key);
  }

  @warn "Unkown '#{$key}' in $ease.";
  @return null;
}

///// Power function
///// @param {Number} $x
///// @param {Number} $n
///// @return {Number}
//@function pow($x, $n) {
//  $ret: 1;
//
//  @if $n >= 0 {
//    @for $i from 1 through $n {
//      $ret: $ret * $x;
//    }
//  } @else {
//    @for $i from $n to 0 {
//      $ret: $ret / $x;
//    }
//  }
//
//  @return $ret;
//}

/// Apply `$function` with `$args` to each item from `$list`.
/// @author Hugo Giraudel
/// @param {List} $list - List of items
/// @param {String} $function - Function to apply to every item from `$list`
/// @param {Arglist} $args - Extra arguments to pass to `$function`
/// @return {List}
/// @throw There is no `#{$function}` function.
@function walk($list, $function, $args...) {
  @if not function-exists($function) {
    @error "There is no `#{$function}` function.";
  }

  @for $i from 1 through length($list) {
    $list: set-nth($list, $i, call($function, nth($list, $i), $args...));
  }

  @return $list;
}

/// Computes a top-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color;
}

/// Computes a bottom-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}

/// Gives a card depth effect.
/// @param {Number} $depth - depth level (between 1 and 5)
/// @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
/// @requires {function} top-shadow
/// @requires {function} bottom-shadow
@mixin card($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);
  }
}

/// Shorthand mixin for offset positioning
/// @param {String} $position - Either `relative`, `absolute` or `fixed`
/// @param {Length} $top [null] - Top offset
/// @param {Length} $right [null] - Right offset
/// @param {Length} $bottom [null] - Bottom offset
/// @param {Length} $left [null] - Left offset
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

/// Shorthand mixin for absolute positioning
/// Serves as an alias for `position(absolute, ...)`
/// @param {Arglist} $args - Offsets
/// @require {mixin} position
@mixin absolute($args...) {
  @include position(absolute, $args...);
}

/// Shorthand mixin for relative positioning
/// Serves as an alias for `position(relative, ...)`
/// @param {Arglist} $args - Offsets
/// @require {mixin} position
@mixin relative($args...) {
  @include position(relative, $args...);
}

/// Shorthand mixin for fixed positioning
/// Serves as an alias for `position(fixed, ...)`
/// @param {Arglist} $args - Offsets
/// @require {mixin} position
@mixin fixed($args...) {
  @include position(fixed, $args...);
}

/// Mixin to prefix several properties at once
/// @author Hugo Giraudel
/// @param {Map} $declarations - Declarations to prefix
/// @param {List} $prefixes (()) - List of prefixes to print
@mixin prefix($declarations, $prefixes: ()) {
  @each $property, $value in $declarations {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }

    // Output standard non-prefixed declaration
    #{$property}: $value;
  }
}

/// Since the current way to qualify a class from within its ruleset is quite
/// ugly, here is a mixin providing a friendly API to do so.
/// @author Hugo Giraudel
/// @param {String} $element-selector - Element selector
@mixin qualify($element-selector) {
  @at-root #{$element-selector + &} {
    @content;
  }
}

/// @alias qualify
@mixin when-is($args...) {
  @include qualify($args...) {
    @content;
  }
}

/// Returns the opposite direction of each direction in a list
/// @author Hugo Giraudel
/// @param {List} $directions - List of initial directions
/// @return {List} - List of opposite directions
@function opposite-direction($directions) {
  $opposite-directions: ();
  $direction-map: (
          'top': 'bottom',
          'right': 'left',
          'bottom': 'top',
          'left': 'right',
          'center': 'center',
          'ltr': 'rtl',
          'rtl': 'ltr'
  );

  @each $direction in $directions {
    $direction: to-lower-case($direction);

    @if map-has-key($direction-map, $direction) {
      $opposite-directions: append($opposite-directions, unquote(map-get($direction-map, $direction)));
    } @else {
      @warn "No opposite direction can be found for `#{$direction}`. Direction omitted.";
    }
  }

  @return $opposite-directions;
}

/// Mixin to place items on a circle
/// @author Hugo Giraudel
/// @author Ana Tudor
/// @param {Integer} $item-count - Number of items on the circle
/// @param {Length} $circle-size - Large circle size
/// @param {Length} $item-size - Single item size
@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width: $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $item-size;
    height: $item-size;
    margin: -($item-size / 2);

    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

////////////////////////////////////////////////

@function factorial($value) {
  $result: 1;

  @if $value == 0 {
    @return $result;
  }

  @for $index from 1 through $value {
    $result: $result * $index;
  }

  @return $result;
}

@function summation($iteratee, $input, $initial: 0, $limit: 100) {
  $sum: 0;

  @for $index from $initial to $limit {
    $sum: $sum + call($iteratee, $input, $index);
  }

  @return $sum;
}

@function exp($value) {
  @return summation('exp-maclaurin', $value, 0, 100);
}

@function pow($number, $exponent) {
  @if (round($exponent) != $exponent) {
    @return exp($exponent * ln($number));
  }

  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number;
    }
  }

  @return $value;
}

@function exp-maclaurin($x, $n) {
  @return (pow($x, $n) / factorial($n));
}

@function ln-maclaurin($x, $n) {
  @return (pow(-1, $n + 1) / $n) * (pow($x - 1, $n));
}

@function ln($value) {
  $ten-exp: 1;
  $ln-ten: 2.30258509;

  @while ($value > pow(10, $ten-exp)) {
    $ten-exp: $ten-exp + 1;
  }

  @return summation(ln-maclaurin, $value / pow(10, $ten-exp), 1, 100) + $ten-exp * $ln-ten;
}

/// toFixed() function in Sass
/// @author Hugo Giraudel
/// @param {Number} $float - Number to format
/// @param {Number} $digits [2] - Number of digits to leave
/// @return {Number}
@function to-fixed($float, $digits: 2) {
  $sass-precision: 5;

  @if $digits > $sass-precision {
    @warn "Sass sets default precision to #{$sass-precision} digits, and there is no way to change that for now."
    + "The returned number will have #{$sass-precision} digits, even if you asked for `#{$digits}`."
    + "See https://github.com/sass/sass/issues/1122 for further informations.";
  }

  $pow: pow(10, $digits);
  @return round($float * $pow) / $pow;
}

////////////////////////////
@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self (false) - Whether or not to include current selector
/// @see https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

///
/// Viewport sized typography with minimum and maximum values
///
/// @author Eduardo Boucas (@eduardoboucas)
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
///
/// @example scss - 5vw font size (with 50px fallback),
///                 minumum of 35px and maximum of 150px
///  @include responsive-font(5vw, 35px, 150px, 50px);
///
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}
