﻿
img {
  max-width: 600px;
  max-height: 400px;
}

.img2 {
  margin-right: auto;
  margin-left: auto;
}

.top-div {
  min-height: 280px;
}

.icons {
  max-width: 80px !important;
}

.login-bg {
  display: flex !important;
  font-size: 28px;
  align-items: center;
  color: #eee;
  justify-content: center;
  background-size: cover;
  background-image: url('/assets/login_bg.png');
  margin-top: .46em;
}

.error {
  color: red;
}

.success {
  color: green;
}

.header-selected {
  border-bottom: 4px solid white;
}
