#the-container.container
    .ui.top.attached.menu(style='background-color: rgb(135, 201, 948); color: #fff;')
        a(routerLink='/login')
            img(style='max-height: 35px;margin: 8px;', src='../assets/logo.png')
        // <a class="ui right floated item" style="color: #fff !important;">Messages</a>
        //
          <a data-notifications="5" class="circular ui button right floated item" style="position: absolute; margin-left: 90% !important;">
          <i class="comment outline icon"></i>
          </a>
    router-outlet
    .ui.horizontal.divider.header Kira
    .ui.grid.center.aligned.footer
        .ui.sixteen.wide.column
            h4.header
                | Made With
                i.heart.icon.red
                |  from Rwanda
