doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        // <title>KiraMed: Leapfrogging Healthcare and Wellness in Africa.</title>
        base(href='/')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon', type='image/x-icon', href='./modules/template/demo/assets/img/favicon.ico')
    body
        kira-root
            //img(style='position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0; width: 60px; height: 60px;', src='./assets/loading_init.gif')
        //
          <script>
          if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('./sw.js').then(function() {
          console.log("Service Worker's Registered");
          });
          }
          </script>
        script.
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-90987120-1', 'auto');
            ga('send', 'pageview');
