/* LOAD ICON FONT */

@font-face {
  font-family: "CELL-Icons";
  src: url("//fonts-which-co-uk.s3.amazonaws.com/CELL-icons/CELL-icons.eot");
  src: url("//fonts-which-co-uk.s3.amazonaws.com/CELL-icons/CELL-icons.eot?#iefix") format("embedded-opentype"),
  url("//fonts-which-co-uk.s3.amazonaws.com/CELL-icons/CELL-icons.woff") format("woff"),
  url("//fonts-which-co-uk.s3.amazonaws.com/CELL-icons/CELL-icons.svg#CELL-icons") format("svg"),
  url("//fonts-which-co-uk.s3.amazonaws.com/CELL-icons/CELL-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Which-Icons";
  src: url("//fonts-which-co-uk.s3.amazonaws.com/WhichIcons/WhichIcons.eot");
  src: url("//fonts-which-co-uk.s3.amazonaws.com/WhichIcons/WhichIcons.eot?#iefix") format("embedded-opentype"),
  url("//fonts-which-co-uk.s3.amazonaws.com/WhichIcons/WhichIcons.woff") format("woff"),
  url("//fonts-which-co-uk.s3.amazonaws.com/WhichIcons/WhichIcons.svg#WhichIcons") format("svg"),
  url("//fonts-which-co-uk.s3.amazonaws.com/WhichIcons/WhichIcons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
