include ../../../../../../resources/pug/abstracts/mixins
.ui.raised.very.padded.container.segment
    // ITEMS-LIST-PAGE HEADER
    h2.ui.icon.header
        i.building.icon
        .content
            | User Settings
            .sub.header Manage your user settings here.
    .ui.section.divider
    // ERROR OR SUCCESS MESSAGE
    action-message([errorMsg]='errorMsg', [successMsg]='successMsg')
    // HIDE/SHOW NEW ITEM FROM
    div(*ngIf='creatingItem; then item_create_form else items_list')
    // ITEMS LIST SECTION
    ng-template(#items_list='')
        // CHECK IF THERE ARE ANY NO DELETED ITEMS
        div(*ngIf='pagedItems?.length == 0; then no_item else items')
        // IN CASE NOT DELETED ITEMS WERE FOUND DISPLAY ONE ITEMS-LIST PAGE
        ng-template(#items='')
            .ui.grid
                .left.floated.eight.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column(style='background-color: rgba(135,201,255,0.31)')
                    .ui.primary.labeled.icon.button((click)='showForm()')
                        i.add.user.icon
                        |  Add a staff member
                .right.floated.eight.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column.right.aligned(style='background-color: rgba(135,201,255,0.31)')
                    .ui.icon.input.float-right
                        input(type='text', placeholder='Search for user...')
                        i.search.icon
            .ui.section.divider
            .ui.vertical.segment(*ngFor='let item of pagedItems')
                .ui.centered.grid
                    .row
                        .three.wide.computer.six.wide.tablet.sixteen.wide.mobile.column
                            .ui.fluid.card(style='margin-top: 15px')
                                .image
                                    img(src='../../../assets/demo/img/avatar/people/elliot.jpg')
                                .content
                                    h5(*ngFor='let role of item.roles') {{ role }}
                        .thirteen.wide.computer.six.wide.tablet.sixteen.wide.mobile.column
                            // Name and activate button
                            .row
                                .ui.right.aligned.grid
                                    .left.floated.left.aligned.thirteen.wide.computer.ten.wide.tablet.eight.wide.mobile.column
                                        h2 {{ item.firstName }} {{ item.middleName }} {{ item.lastName }}
                                    .right.floated.left.aligned.three.wide.computer.six.wide.tablet.eight.wide.mobile.column
                                        button.ui.labeled.icon.tiny.button.primary
                                            i.unlock.icon
                                            |                       {{ item.isActive?'Unlocked':'Locked'}}
                            // Name and activate button ended
                            // User details tables
                            .row
                                .ui.right.aligned.grid
                                    .fifteen.wide.tablet.seven.wide.computer.column(style='margin: 10px')
                                        table.ui.very.basic.collapsing.table(style='width: 100%')
                                            tbody
                                                tr
                                                    td
                                                        h4.ui.image.header
                                                            .content
                                                                | Username:
                                                    td
                                                        | {{ item.userName }}
                                                tr
                                                    td
                                                        h4.ui.image.header
                                                            .content
                                                                | Email:
                                                    td
                                                        | {{ item.email }}
                                                tr
                                                    td
                                                        h4.ui.image.header
                                                            .content
                                                                | Gender
                                                    td
                                                        // {{ item.entity?.demographic?.sex }}
                                                        | {{ item.entity.externalId%2===0?'Male':'Female' }}
                                    .fifteen.wide.tablet.eight.wide.computer.column(style='margin: 10px')
                                        table.ui.very.basic.collapsing.table(style='width: 100%')
                                            tbody
                                                tr
                                                    td
                                                        h4.ui.image.header
                                                            .content
                                                                | Mobile
                                                    td
                                                        | {{ item.phoneNumber }}
                                                tr
                                                    td
                                                        h4.ui.image.header
                                                            .content
                                                                | Qualification:
                                                    td
                                                        | {{ item.entity?.specialty }}
                                                tr
                                                    td
                                                        h4.ui.image.header
                                                            .content
                                                                | Maltal status:
                                                    td
                                                        | Married
                            // User details tables ended
                            .row
                                .ui.mini.basic.secondary.icon.buttons
                                    button.ui.button See activities
                                    button.ui.button Delete record
                                    button.ui.button Change or remove picture
        // PAGINATION COMPONENT
        kira-pager(*ngIf!='allItems?.length>0', [allItems]='allItems', [pageSize]='pageSize', (pageChange)='onPageChange($event)')
        // IN CASE NO ITEM WAS FOUND DISPLAY NO ITEM FOUND MESSAGE
        ng-template(#no_item='')
            table.ui.grey.compact.celled.definition.table
                thead.full-width
                    tr
                        th There is no user yet.
                tfoot.full-width
                    tr
                        th(colspan='6')
                            .ui.right.floated.small.primary.labeled.icon.button((click)='showCreateForm()')
                                i.add.icon
                                |  Add a staff member
    // NEW ITEM FORM
    ng-template(#item_create_form='')
        main.content
            .ui.container
                .ui.relaxed.divided.padded.full.grid
                    .row
                        .column
                            h3.ui.header.segment
                                .content New staff user for {{ organization.name}}
                    .row
                        .sixteen.wide.column
                            form.ui.form([formGroup]='formGroup', (ngSubmit)='createUser(formGroup.value)', novalidate='')
                                .ui.segment
                                    +input('Username', 'userName', 'Write the username...', 'required')
                                    +input('Firstname', 'firstName', 'Write the first name...', 'required')
                                    +input('Middlename', 'middleName', 'Write the middle name...', 'required')
                                    +input('Lastname', 'secondName', 'Write the secondname...', 'required')
                                    +input('Email', 'email', 'Write the email...', 'required')
                                    +input('Phone number', 'phoneNumber', 'Write the phone number...', 'required')
                                    +input('National id', 'nationalId', 'Write the national id...', 'required')
                                    .field
                                        label Roles
                                        select#roles(multiple='', formControlName='roles')
                                            option(*ngFor='let role of roles', [ngModel]='role.role', [ngModelOptions]='{standalone: true}', ngDefaultControl='')
                                                | {{ role.name }}
                                        control-messages([control]='roles_err')
                                button.ui.primary.submit.button(*ngIf='!isShowing', [disabled]='!formGroup.valid')
                                    | Create
                                spinner(name='mySpinner', [(show)]='isShowing')
                                    button.ui.primary.loading.button.disabled Loading...
                                .ui.reset.button((click)='formReset()') Reset
                                .ui.black.right.floated.button((click)='hideForm()') Back to country list
