include ../../../../../../resources/pug/abstracts/mixins
.ui.raised.very.padded.container.segment
    // ITEM-DETAILS-PAGE HEADER
    h2.ui.header
        i.settings.icon
        .content
            | Role Settings
            .sub.header
                | Manage your preferences for
                strong "{{ item.name }}"
                |  item
    .ui.section.divider
    // ERROR OR SUCCESS MESSAGE
    action-message([errorMsg]='errorMsg', [successMsg]='successMsg')
    // HIDE/SHOW ITEM EDIT FROM
    div(*ngIf='editingItem==false; then item_section else item_edit_form')
    // ITEM DETAILS SECTION
    ng-template(#item_section='')
        // CHECK IF THE ITEM EXISTS
        div(*ngIf='item; then item_details else no_item_found')
        // IN CASE THE ITEM EXISTS DISPLAY ITEM DETAILS
        ng-template(#item_details='')
            h4.ui.horizontal.divider.header
                i.bar.chart.icon
                |         Role details
            table.ui.definition.table
                tbody
                    tr
                        td Name
                        td {{ item.name }}
                    tr
                        td Description
                        td {{ item.description }}
                tfoot.full-width(*ngIf='item.type==parent.id')
                    tr
                        th(colspan='2')
                            button.ui.smalls.labeled.icon.button((click)='destroy(item, itemId)')
                                i.caret.right.icon
                                |  Delete this role
                            button.ui.right.floated.smalls.primary.labeled.icon.button((click)='showEditForm(item)')
                                i.caret.right.icon
                                |               Edit this role
        // IN CASE THE ITEM DOESN'T EXIST DISPLAY ITEM NOT FOUND MESSAGE
        ng-template(#no_item_found='')
            h1
                | No item found with id: {{ itemId }}
    // ITEM EDIT FORM
    ng-template(#item_edit_form='')
        main.content
            .ui.container
                .ui.relaxed.divided.padded.full.grid
                    .row
                        .column
                            h3.ui.header.segment
                                .content
                                    | Edit an item
                    .row
                        .sixteen.wide.column
                            form.ui.form([formGroup]='formGroup', (ngSubmit)='editRole(formGroup.value, itemId)', novalidate='')
                                .ui.segment
                                    +input('Name', 'name', 'Write the role Name...', 'required')
                                    +textarea('Description', 'description', 'required')
                                    .field
                                        label Select claims
                                        select.ui.fluid.search.dropdown(formControlName='claims', multiple='multiple')
                                            //option(value='') Type or select action(s)
                                            option(*ngFor='let action of actionsList', [ngValue]='action') {{action}}
                                button.ui.primary.submit.button(*ngIf='!isShowing', [disabled]='!formGroup.valid')
                                    | Save changes
                                spinner(name='mySpinner', [(show)]='isShowing')
                                    button.ui.primary.loading.button.disabled Loading...
                                .ui.reset.button((click)='formReset()') Reset
                                .ui.black.right.floated.button((click)='hideForm()')
                                    | Back to role details
