/**
* BASE - BASE
*/
/**
* Navigation specific css styles
*/

body {
  background-color: $body-bg-color;
  color: $body-text-color;
  font-family: $body-font-family !important;
  @include font-weight('normal');
}

*:focus {
  outline: none !important;
  -moz-outline-style: none !important;
}

.fa-button {
  margin-right: 6px;
}
